<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>拉煤宝</title>
<style>
@media screen and (max-width:480px){ 
  .aaa{margin:-3em 0;}
  .aa1{
      width: 100%;
      height: 210px;
  }
  .tp1{
      margin:0px -60px 15px 0px;
      padding:0;
    }
  .t4{vertical-align:text-top;}
  .t5{ margin:28px -60px 15px 0px;}
}

@media screen and (mix-width:768px){ 
  .aa1{
      width: 100%;
      height: 261px;
  }
}
</style>
<#include "/view/web/include/headerFile.htm" />
<script>
	$(document).ready(function(){
		if(!isWeiXin()){
			$("#lmburl").attr("href","${lmbPath!}");
			$("#kmburl").attr("href","${kmbPath!}");
  		}
	});
	//判断是否是微信浏览器的函数
	function isWeiXin() {
		var ua = window.navigator.userAgent.toLowerCase();
		//通过正则表达式匹配ua中是否含有MicroMessenger字符串
		if (ua.match(/MicroMessenger/i) == 'micromessenger') {
			return true;
		} else {
			return false;
		}
	}
</script>
</head>
<body>
<div id="home" class="banner a-banner">
<#include "/view/web/include/top.htm" />
  <div class="bak">
	  <div class="container">
	  <#include "/view/web/include/head.htm" />
	  </div>
  </div>
  <header id="head" class="secondary">
    <div class="container">       
    </div>
</header>
  <div class="specialty">
     <div class="container">
          <div class="about-top">
			  <div class="container">
			    <div class="aaa">
			      <div class="col-md-7 a-banner-bottom-text" style="width:100%;">
			        <div class="jumbotron banner-bottom-left wow fadeInLeft animated animated cont-list" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
			           <p>
			                 <img src="${base}/assets/web/images/t1.png"/>
			                 <div class="aa1">
			                   <div style="width: 50%;float: left;">
			                       <img src="${base}/assets/web/images/t2.png" title="扫一扫" alt="下载" style="float: right;" />
			                   </div>	                   			                   
			                   <div style="width: 50%;float: right;">
			                       <a href="https://itunes.apple.com/us/app/id1124343272?l=zh&ls=1&mt=8" target="view_window">
			                          <img src="${base}/assets/web/images/t4.png" title="点击下载" alt="下载" class="t4"/>
			                       </a> 
			                       </br>
			                       <a id="lmburl" href="https://imtt.dd.qq.com/16891/CB6EB62D9F62A1BBD86AA9115FCA7B9E.apk?fsname=com.sxhalo.PullCoal_5.4.1_55.apk&csr=1bbd" >
			                         <img src="${base}/assets/web/images/t5.png" title="点击下载" alt="t5.png" class="t5"/>
			                       </a>
			                   </div>
			                 </div> 
			                 <!-- <img src="${base}/assets/web/images/t3.png"/> -->
			           </p>			           		         
			        </div>
			      </div>
			      <div class="clearfix"> </div>
			    </div>
			    
			    <div class="aaa" style="margin-bottom: 150px; margin-top: 80px;">
			      <div class="col-md-7 a-banner-bottom-text" style="width:100%;">
			        <div class="jumbotron banner-bottom-left wow fadeInLeft animated animated cont-list" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s;">
			           <p>
			                 <img src="${base}/assets/web/images/kt1.png"/>
			                 <div class="aa1">
			                   <div style="width: 50%;float: left;">
			                       <img src="${base}/assets/web/images/kt2.png" title="扫一扫" alt="下载" style="float: right;" />
			                   </div>	                   			                   
			                   <div style="width: 50%;float: right;">
			                       <a href="https://itunes.apple.com/us/app/id1244051559?l=zh&ls=1&mt=8" target="view_window">
			                          <img src="${base}/assets/web/images/kt4.png" title="点击下载" alt="下载" class="t4"/>
			                       </a> 
			                       </br>
			                       <a id="kmburl" href="https://imtt.dd.qq.com/16891/F8C6E3EA49B714DD347B1ED7F5CD0CDA.apk?fsname=com.kmbao_5.3_36.apk&csr=1bbd" >
			                         <img src="${base}/assets/web/images/kt5.png" title="点击下载" alt="t5.png" class="t5"/>
			                       </a>
			                   </div>
			                 </div> 
			                 <!-- <img src="${base}/assets/web/images/t3.png"/> -->
			           </p>			           		         
			        </div>
			      </div>
			      <div class="clearfix"> </div>
			    </div>
			  </div>
		</div>
     </div>
  </div>
</div>
<#include "/view/web/include/footer.htm" />
</body>
</html>
