<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>新闻动态-拉煤宝</title>
<#include
"/view/web/include/headerFile.htm" />
</head>
<body>
<div id="home" class="banner a-banner">
<#include "/view/web/include/top.htm" />
  <div class="bak">
  <div class="container">
    <#include "/view/web/include/head.htm" />
  </div>
  </div>
</div>
<!-- 头部 -->
<header id="head" class="secondary">
    <div class="container">       
    </div>
</header>
<div class="specialty" style="background: #ffffff;padding: 0;">
  <div class="container">       
	   <h5  class="daohang">
	   <a href="${base}/" style="color: #424242;font-size: 16px;">
	   <img src="${base}/assets/web/images/img/ptop.png"> 首页</a>  
	   <a href="${base}/articlelist.html" style="color: #424242;font-size: 16px;">&gt; 新闻概况</a> &gt; 新闻详情</h5>
  </div>
</div>
<div class="clearfix" style="border: 1px solid #e8e8e8;"></div>
<!-- 详情页 -->
<div class="specialty" style="background: #f5f5f5;">
  <div class="container">
        <!-- container -->      
		<div class="col-sm-8 maincontent">
			<div class="zltop">
	          <h1 class="zlh1">${article.title!}</h1>
	          <p class="zlp">责任编辑：${article.author!} &nbsp; 浏览次数：${article.clickNum!}</p>
	          <div class="sed">${article.content!}</div>
	          <div class="col-md-6 md-in">
	            <ul class="grid-part">
	              <li class="grid-part-li">上一篇：	              
	              <#if up.title??>
	                  <a href="${base}/${upUrl!'#'}" style="font-size: 15px">
	                  <#if up.title?length lte 15>   
	                      ${up.title!}
	                  <#elseif up.title?length gt 15> 
	                      ${up.title[0..15]}... 	                                          
	                  </#if>
	                  </a>
	              <#else>
	                                             没有了
	              </#if>	              
	              </li>
	            </ul>
	          </div>
	          <div class="col-md-6 md-in">
	            <ul class="grid-part">
	              <li class="grid-part-li">下一篇：
	              <#if down.title??>
	                  	<a href="${base}/${downUrl!'#'}" style="font-size: 15px">
		                <#if down.title?length lte 15>   
	                         ${down.title}
	                    <#elseif down.title?length gt 15> 
	                         ${down.title[0..15]}... 
	                    <#else>
	                                                          没有了
	                    </#if>
	                    </a>
	              <#else>
	                                             没有了
	              </#if>	              
	              </li>
	            </ul>
	          </div>
	          <div class="clearfix"> </div>
	        </div>	
        </div>		
		<div class="col-sm-4 sidebar sidebar-right">			
			<div id="box12" class="panel" style="background: white;">
				<h2 class="title_2">热点资讯</h2>
				<ul class="" style="margin: 0px">
				    <#list olist as article>                    	 
	            	<li class="zl4">
	            	    <a href=""><img style="width: 15px;" src="${base}/assets/web/images/img/00.jpg"></a>
	                	<a href="${base}/articledetail/${article.articleId?string['0']}.htm">
	                	<#if article.title?length lt 14>   
						     ${article.title}
						<#elseif article.title?length gt 14> 
						     ${article.title[0..14]}... 
						</#if>
	                	</a>
	                	<a href="${base}/articledetail/${article.articleId?string['0']}.htm" class="time" style="color: #a5a5a5;font-size: 13px;">${(article.pushtime?string("yyyy-MM-dd"))!''}</a>
	                </li>
	                </#list>	                 
				</ul>
			</div>							
		</div>
        <!-- <div class="col-sm-4 sidebar sidebar-right">
			<div id="box12" class="panel" style="background: white;">
				<h2 class="title_2">每日头条</h2>
				<ul class="" style="margin: 0px">
				    <#list toplist as article>   
	            	<div class="tournament t1-middle">
						<div class="how-right3">
							<a href="articledetail/${article.articleId!}.html">
							<img src="${article.picPath!}" onerror="this.src='${base}/assets/web/images/1468759378935.png;this.onerror=null'"  class="zlimg"></a> 
						</div>
						<div class="how-right4">
							<a href="articledetail/${article.articleId!}.html">
							<h4>
							  <#if article.title?length lt 12>   
								  ${article.title}
							  <#else> 
								  ${article.title[0..12]}... 
							  </#if>
							</h4></a>
							<a href="articledetail/${article.articleId!}.html">
							 <p>
							 <#if article.summary?length lt 32>   
							     ${article.summary}
							<#else> 
							     ${article.summary[0..32]}... 
							</#if>
							 </p></a>
							<div class="more1">
								<a href="articledetail/${article.articleId!}.html">${(article.pushtime?string("yyyy-MM-dd"))!''}</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>					    	
	            	</#list>
				</ul>
			</div>				
		</div> -->
    <!-- /container -->
  </div>
 </div>
 <!-- 详情页结束 -->
<#include "/view/web/include/footer.htm" />
<script src="${base}/assets/web/js/js/phone.js"></script>	
<script type="text/javascript">
  function getpage(aid,type){
     $.ajax({
		type : "post",
		url : "ArticleUpAndDown.do",
		dataType : "json",
		data : {
		    articleId : aid,
		    type : type
		},
		success : function(data) {
		    $("#aup").html(data);				   
		}
	});	
  }
</script>
</body>
</html>