<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- 启用极速模式(webkit) -->
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<meta name="KeyWords" content="证书">
<meta name="description" content="证书">
<title>证书</title>
<#include "/view/web/include/headerFile.htm" />
<#include "/view/web/include/head.htm" />
<!-- <script type="text/javascript" src="${base}/assets/web/js/02801223.js" charset="utf-8"></script> -->
<link rel="stylesheet" type="text/css" href="${base}/assets/web/css/02801223.css">
<style>
 #layout_1578407103756{height:790px;}  
  @media screen and (min-width:641px) and (max-width:1200px) {#layout_1578407103756{height:780px;}}   @media screen and (max-width:640px) {#layout_1578407103756{height:770px;}} 
    
</style>
				<!-- 	<div id="layout_1589415403201" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1" >
				<div class="view_contents">
								<div id="image_style_01_1589415403205" class="view style_01 image  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div names="image" class="view_contents">
					<div class="imgStyle CompatibleImg picSet">
		<a href="javascript:;" target="">
			<img class="link-type-" src="${base}/assets/web/images/1589370832696d5cb83384e54fcee.png" title="" alt="描述" id="imageModeShow">
		</a>
</div>
新加的js 
				</div>
			</div>
					<div id="text_style_01_1589415403215" class="view style_01 text  none wow fadeInUp lockHeightView animated" data-wow-duration="1s" data-wow-delay="0.25s" data-wow-offset="0" data-wow-iteration="1" style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInUp;">
				<div names="text" class="view_contents">
				   证书颁发
				</div>
			</div>
						</div>
			</div> -->
					<div id="layout_1578407103756" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1" >
				<div class="view_contents">
								<div id="image_style_12_1_1589427053141" class="view style_12_1 image  none lockHeightView" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div names="image" class="view_contents">
					<div class="imgStyle_12">
	<ul class="imgTextUl" id="imgTextUl">
			<li class="imgTextLi modSet">
		
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				
				<div class="cont">
					<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
				<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
					<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
			<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
			<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
					<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
				
						<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
				
						<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
				<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
					
						<div class="subName titProSet">城固县第一小学－杨欢</div>
				</div>
			</li>
			<li class="imgTextLi modSet">
					<div class="img">
							
								<img class="picSet picFit" src="${base}/assets/web/images/zhengshu.jpg" style="width:100%">
					</div>
				<div class="cont">
				<div class="subName titProSet">城固县第一小学－杨欢</div>
					
				</div>
			</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
		<div class="page_btn" id="page_btn">
			
		</div>
</div>
				</div>
			</div>
						</div>
			</div>
					<div id="layout_1578621087800" class="layout  none" data-wow-duration="0s" data-wow-delay="0s" data-wow-offset="0" data-wow-iteration="1">
				<div class="view_contents">
									</div>
			</div>	
			
						<!-- 新分页 -->
	<style>
	.imgStyle_12 .page_btn{ font-size:14px; text-align: center;}
	.imgStyle_12 .page_btn .all_page{ display:inline-block; margin:0 10px; }
	.imgStyle_12 .page:hover{ background:red; color:white; cursor:pointer;}
	.imgStyle_12 .page_btn .cur{ background:red; color:white; cursor:pointer;}
	.imgStyle_12 .submit_div{ display: inline-block; }

	.imgStyle_12 .page_btn input{ width:50px; margin:0 5px;}
	.imgStyle_12 .page_btn input:hover{ cursor:default; background:white; color:#333;}
	.imgStyle_12 .page_submit{margin-left:5px;}
	.imgStyle_12 .page{display:inline-block; border:none; background:white; text-align: center; width:auto; padding:0 15px; margin:0 .5px; height:auto; line-height:35px; box-sizing: border-box; -webkit-box-sizing: border-box; border:1px solid #e5e5e5;}
	@media screen and (max-width:640px) {
			.imgStyle_12 .page_btn{ font-size:12px; }
			.imgStyle_12 .submit_div{ display:none; }
		}

			.imgStyle_12 .page{width:auto; margin:0 5px 10px 5px; border-radius:5px;  }
		@media screen and (max-width:640px) {
			.imgStyle_12 .page{line-height:30px; padding:0 13px;}
		}
	                        .prod_default .v_value {color: #333; font-size: 12px;}
            
     .imgStyle_12  .showActivity {display: none !important;}
            .imgStyle_12  .btnaSet ,.imgStyle_12  .btnaSet a{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
	</style>
			<script type="text/javascript">
$(function(){
	getpagedata(1,0);

});

function getpagedata(page,type){

 $.ajax({
            type : "POST",
            contentType: "application/json;charset=UTF-8",
            url : "certificate.json?page="+page+"&type="+type,
             async:false, 
            success : function(result) {
         
            var info=result.infos;
           
            $("#imgTextUl").html("");
            if(info.length>0){
             for(var i=0;i<info.length;i++){
                $("#imgTextUl").append('<li class="imgTextLi modSet">'+
					'<div class="img">'+
					'			<img class="picSet picFit" src="${base}/upload/zhengshu/'+info[i].url+'" style="width:100%">'+
					'</div>'+
				'<div class="cont">'+
				'<div class="subName titProSet">'+(info[i].type==1?'交大附小－':'平利老县镇中小学－')+info[i].userName+'</div>'+
				'</div>'+
			'</li> ' );
             
             }
           
            
            $("#page_btn").html(
              '<a class="page pageSet" href='+(result.page==1?"javascript:;":"javascript:getpagedata(1,0)")+' >首页</a>'+result.page+
				'<a class="page pageSet"  href='+(result.page==1?"javascript:;":"javascript:getpagedata("+result.page+",-1)")+'>上一页</a> <span id="crrut">1<span>/  '+result.count+
				' <a class="page pageSet"  href='+(result.page==result.count?"javascript:;":"javascript:getpagedata("+result.page+",1)")+' >下一页</a> '+
				 '<a class="page pageSet"  href='+(result.page==result.count?"javascript:;":"javascript:getpagedata("+result.count+",0)")+'>尾页</a> '+
				 '<div class="submit_div"><span class="all_page">共'+result.count+'页</span>到第 <input type="text" id="page_set" class="page pageSet" value="1"> 页 <span class="page_submit page pageSet" onclick="">确定</span></div><script> '+
				'var subpage = 0; '+
				'$("#page_btn #page_set").blur(function(){ '+
				'	if($(this).val() > '+result.count+'){ '+
				'		subpage = '+result.count+'; '+
				'		$(this).val('+result.count+'); '+
				'	}else if( $(this).val() <= 0){ '+
				'		$(this).val(1); '+
				'		subpage = 1; '+
				'	}else{ '+
				'		subpage = $(this).val(); '+
				'	} '+
				'getpagedata(subpage,0);});<\/script> ');
         
            }
                

        //图片放大效果
	    var obj = $("#imgTextUl");
		var picItems = obj.find("li.imgTextLi");
		var num = 0;
		var picBox;
		console.log(picItems.length)
		picItems.click(function(){
			var topH = $(window).scrollTop();
			var index = $(this).index();
			var curPic = $(this).find("img").attr("src");
			num = index;
			var picBoxhtml = $("<div class='imgShowBox'><im"+""+"g src='"+curPic+"' alt=''><div class='imgButton'><span class='prevImg'><i class='fa fa-angle-left'></i></span><span class='closeShowPic'>×</span><span class='nextImg'><i class='fa fa-angle-right'></i></span></div></div>");
			//"+""+"为了躲开图片延时加载的代码替换
			$("body").append(picBoxhtml);
			picBox = $(".imgShowBox");
			pdSize();
			//判断下一张和上一张按钮的显示
			if(picItems.length == 1){
				$("body").find(".imgButton>.nextImg,.imgButton>.prevImg").css("visibility","hidden")
			}
			if(picItems.length-1 == $(this).index()){
				$("body").find(".imgButton>.nextImg").css("visibility","hidden")
			}
			if($(this).index() == 0){
				$("body").find(".imgButton>.prevImg").css("visibility","hidden")
			}
			//关闭
			$("body").find(".imgButton>.closeShowPic").click(function(){
				$(".imgShowBox").remove();
				$("body").removeClass("pos_fixed");
				$(window).scrollTop(topH);
			});
			//下一张
			$("body").find(".imgButton>.nextImg").click(function(){
				$(".imgShowBox img").css("max-height","none");
				var len = obj.find("li:has('img')").length;
				$(this).siblings().css("visibility","visible");
				num++;
				if(num >= len){
					num = len-1;
				}
				if(num == len-1){
					$(this).css("visibility","hidden");
				}
				curPics();
				pdSize();
			});
			//上一张
			$("body").find(".imgButton>.prevImg").click(function(){
				$(".imgShowBox img").css("max-height","none");
				$(this).siblings().css("visibility","visible");
				num--;
				if(num <= 0){
					num = 0;
					$(this).css("visibility","hidden");
				}
				curPics();
				pdSize();
			});
		});
		//切换大图
		function curPics(){
			var newImg = obj.find("li").eq(num).find("img").attr("src");
			picBox.find("img").attr("src",newImg);
		}
		//判断展开显示效果
		function pdSize(){
			var imgH = picBox.find("img").height();
			var winH = $(window).height();
			if(imgH>winH){
				$("body").addClass("pos_fixed");
				picBox.addClass("scroll");
				picBox.animate({"scrollTop":"0px"},200);
			}else{
				$("body").removeClass("pos_fixed");
				picBox.removeClass("scroll");
				$(".imgShowBox img").css("max-height","80%");
			}
		}
	//遍历所有图片宽高定位
/* 	picItems.each(function(){
		var img_W = $(this).find("img").width();
		var img_H = $(this).find("img").height();
		if(img_W < img_H){
			$(this).find("img").css({"width":"100%","height":"auto"})
		}else{
			$(this).find("img").css({"width":"auto","height":"100%"})
		}
	}); */
	
	
            },
          
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });


}



</script>	


<script>

	

</script>	
			<#include "/view/web/include/footer.htm"/>	
					</body></html>