<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>拉煤宝</title>
<#include "/view/web/include/headerFile.htm" /></div>
<style type="text/css">

</style>


</head>
<body>
<div id="home" class="banner a-banner">
<#include "/view/web/include/top.htm" />
   <div class="bak">
    <div class="container"><#include "/view/web/include/head.htm" /></div>
   </div>
</div>
<header id="head" class="secondary">
    <div class="container">       
    </div>
</header>
<div class="specialty" style="background: #ffffff;padding: 0;">
  <div class="container">       
	   <h5  class="daohang">
	   <a href="${base}/">
	   <img src="${base}/assets/web/images/img/ptop.png"> 首页</a>  > 关于拉煤宝</h5>
  </div>
</div>
<div class="clearfix" style="border: 1px solid #e8e8e8;"></div>
<div class="news" style="background: white;">
<div class="container content content-light home-1" id="gh_content">
     <section class="row animation-scroll" id="tab1" name="tab1">         
         <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
             <a class="link-more">Industry to break the ice<i class="fa fa-arrow-right "></i></a>
             <h3>趋势·行业破冰</h3>
             <h4> 新风向·新出口</h4>
             <p> 在这个日新月异的数字化时代，移动互联网快速崛起，消费
		             者的核心需求已转变成了内容与服务。煤炭类电商为整个行
		             业指明了一条重要的新出口。拉煤宝所代表的“互联网+煤
		             炭”理念也将为煤炭市场带来破冰式的发展！</p>
         </article>
         <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl1.png" alt=""></figure>
     </section>
     <section class="row animation-scroll" id="tab5" name="tab5">
         <figure class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl2.png" alt=""></figure></figure>
         <article class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft" style="text-align: right;">
             <a class="link-more">Good service pull coal treasure<i class="fa fa-arrow-right "></i></a>
             <h3>品牌·好服务拉煤宝</h3>
             <h4> 以服务体系塑品牌</h4>
             <p> 以解决客户需求为立命之本，以专业而人性化的服务为生存
		           之道，以完善的服务体系和能力为制胜之道。让客户直接形
		           成“拉煤宝=好服务”的心理印记。我们的目标---中国服务
		           最好的煤炭物流app！</p>             
         </article>         
     </section> 
 
     <section class="row animation-scroll" id="tab4" name="tab4">         
         <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
             <a class="link-more">Supply free of charge<i class="fa fa-arrow-right "></i></a>
             <h3>服务·一手货源免费得</h3>
             <h4>查货源，知煤讯，找司机</h4>
             <p> 拉煤宝专注于煤炭资讯和货源信息，快速便捷，及时可靠。
		            煤种、价格等各个矿口的煤炭资源信息一网打尽！同时，拉
		            煤宝打通了人、货、车，形成一个独立的生态系统。让你清
		            清楚楚找煤、明明白白买煤、随时随地拉煤！</p>             
         </article>
         <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl3.png" alt=""></figure>
     </section>
     <section class="row animation-scroll" id="tab3" name="tab3">
         <figure class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl4.png" alt=""></figure></figure>
         <article class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft" style="text-align: right;">
             <a class="link-more">Policy advantage<i class="fa fa-arrow-right "></i></a>
             <h3>优势·政策优势</h3>
             <h4>“互联网+”行动计划</h4>
             <p>制定“互联网+”行动计划是国家“稳增长、调结构”行动
		              中的一环，它的出现，将打破煤炭行业的垄断，为煤炭行业
		              带来新的机遇。增强煤企对市场的判断力的同时在煤炭销售
		              出现大变革，可以根据用户需要生产多样化的产品，省去中
		              间环节快捷方便省时省力。</p>             
         </article>         
     </section> 
     
     <section class="row animation-scroll">         
         <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
             <a class="link-more">Industry advantage<i class="fa fa-arrow-right "></i></a>
             <h3>优势·行业优势</h3>
             <h4>科技创新，市场需求</h4>
             <p>拉煤宝技术运营团队深耕煤炭行业多年，以行业转型为契机，
		            与产业链上下游的优势企业进行整合，通过不断的科技创新，
		            延伸和完善原有产业结构，实现产业升级，开发出更加符合市
		            场需求的产品——拉煤宝煤炭物流平台。</p>             
         </article>
         <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl5.png" alt=""></figure>
     </section>
     <section class="row animation-scroll">
         <figure class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl6.png" alt=""></figure></figure>
         <article class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft" style="text-align: right;">
             <a class="link-more">Team advantage<i class="fa fa-arrow-right "></i></a>
             <h3>优势·团队优势</h3>
             <h4>专业团队，资深专家</h4>
             <p>陕西光环网络科技有限公司是一家从事软件开发和网络通讯
		            工程的高薪技术企业，陕西首家交易平台系统开发商。光环
		            网络顺应行业发展趋势，借助国家发展战略，充分发挥“互
		                   联网+”大数据、金融三大优势致力于将传统的煤炭供应产
		            业激活，创造一崭新的数万亿市场。</p>            
         </article>
     </section> 
     
     <section class="row animation-scroll">         
         <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
             <a class="link-more">Capital advantage<i class="fa fa-arrow-right "></i></a>
             <h3>优势·资本优势</h3>
             <h4>资金储备，顶尖技术</h4>
             <p>拉煤宝在发展过程中，更多的是需要风险承受能力强，投资
		                   期限较长的资金。光环科技以其强大的资金储备与顶尖的技
		                  术为拉煤宝各时期建设提供坚实基础。</p>             
         </article>
         <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl7.png" alt=""></figure>
     </section>
     <section class="row animation-scroll" id="tab2" name="tab2">
         <figure class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl8.png" alt=""></figure></figure>
         <article class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft" style="text-align: right;">
             <a class="link-more">development strategy<i class="fa fa-arrow-right "></i></a>
             <h3>我们·发展战略</h3>
             <h4>原始行业触网新模式</h4>
             <p> “‘互联网+’行动计划”，提出推动移动互联网、云计算、
		                大数据、物联网等与现代制造业结合。“互联网+”不是
		                颠覆，而是在思考跨界和融合，更多是思考互联网时代产
		                业如何与互联网结合创造新的商业价值。</p>            
         </article>         
     </section> 
     
     <section class="row animation-scroll">         
         <article class="col-md-6 animated bounceInRight" data-animation="bounceInRight">
             <a class="link-more">Coal enterprises and Internet<i class="fa fa-arrow-right "></i></a>
             <h3>我们·煤企+互联网</h3>
             <h4>煤企+互联网</h4>
             <p> 加的是决策执行、开拓市场、提高效率的重要通道；
		              加的是煤炭行业在社会中的知名度和公信力；
		              加的是一条煤炭行业通向春天的高速公路。</p>             
         </article>
         <figure class="col-md-6 animated bounceInLeft" data-animation="bounceInLeft">
         <img class="zlimgs" src="${base}/assets/web/images/img/zl9.png" alt=""></figure>
     </section>     
 </div>
</div>

<#include "/view/web/include/footer.htm" />
</body>
</html>
