<!DOCTYPE html>
<html lang="zh-CN">
<!-- BEGIN HEAD -->
<head>
<#include "/view/include/globalstyle.html" />
<link rel="stylesheet" href="${base}/assets/admin/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
<link href="${base}/assets/admin/plugins/select/css/combo.select.css" rel="stylesheet" type="text/css" />
<link href="${base}/assets/admin/plugins/select/css/style.css" rel="stylesheet" type="text/css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body
	class="page-header-fixed page-quick-sidebar-over-content page-style-square">
	<!-- BEGIN HEADER -->
	<#include "/view/include/header.html" />
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper"><#include
			"/view/include/sidebar.html" /></div>
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
					用户管理<small></small>
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="fa fa-home"></i> <a href="index.html">首页</a> <i
							class="fa fa-angle-right"></i></li>
						<li><a href="userlist.html">用户基本信息管理</a><i
							class="fa fa-angle-right"></i></li>
						<li><a href="javascript:;">编辑页面</a></li>
					</ul>
					<div class="page-toolbar"></div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN DASHBOARD STATS -->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN VALIDATION STATES-->
						<div class="portlet box grey-gallery" id="form_wizard_1">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-edit"></i>
								</div>
							</div>
							<div class="portlet-body form">
								<!-- BEGIN FORM-->
								<form action="saveuser.do" method="post" id="userform"
									class="form-horizontal form-row-sepe">
									<div style="display: none">
										<input type="hidden" name="userId" id="userId"
											value="${user.userId!}" />
									</div>
									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-3">用户名 <span
												class="required"> * </span>
											</label>
											<div class="col-md-7">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="userName" id="userName" value="${user.userName!}" 
														pattern="[0-9a-zA-Z]{2,23}" title="请输入至少2位英文字母！"/>
												</div>
											</div>
										</div>
										<div class="form-group edithid">
											<label class="control-label col-md-3">密码 <span
												class="required"> * </span>
											</label>
											<div class="col-md-7">
												<div class="input-icon right">
													<i class="fa"></i> <input type="password"
														class="form-control" name="userPwd" id="userPwd" />
												</div>
											</div>
										</div>
										<div class="form-group edithid">
											<label class="control-label col-md-3">确认密码 <span
												class="required"> * </span>
											</label>
											<div class="col-md-7">
												<div class="input-icon right">
													<i class="fa"></i> <input type="password"
														class="form-control" name="confirmPwd" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">角色<span
												class="required"> * </span>
											</label>
											<div class="col-md-7">
												<select class="form-control" name="roleId" id="role" >
												<#list roles as item>
												 <option value="${item.roleId}" selected="<#if (user.roleId!0)== item.roleId>selected</#if>">${item.roleName}</option>
												</#list>
													
												</select>												
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">真实姓名<span
												class="required"> * </span>
											</label>
											<div class="col-md-7">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control" required="required"
														name="realName" value="${user.realName!}" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">电话  <span
												class="required"> * </span></label>
											<div class="col-md-7">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="userMobile" id="userMobile" value="${user.userMobile!}" />
												</div>
											</div>
										</div>
											<div class="form-group">
											<label class="control-label col-md-3">上传头像</label>
											<div class="col-md-4">
												<div class="fileinput fileinput-new"
													data-provides="fileinput">
													<div class="fileinput-preview thumbnail" id="pics1"
														data-trigger="fileinput"
														style="width: 200px; height: 200px;">
														<#if user.headPicCode??> <img alt="" src="${base!}/upload/user/${user.headPicCode!}">
														</#if>														
													</div>
													<div>
														<span class="btn default btn-file"> <span
															class="fileinput-new"> 选择图片</span> <span
															class="fileinput-exists"> 选择图片 </span> <input
															type="file" name="file" id="file"
															onchange="ajaxFileUpload(1);">
														</span>
													</div>
												</div>
										
												<input type="hidden" class="form-control"
													name="headPicCode" id="headPicCode" value="${user.headPicCode!}" />
											</div>
										</div>	
										   <div class="form-group">
                                                <label class="control-label col-sm-3">简介 
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <textarea class="form-control" rows="3" name="remark" id="remark">${user.remark!}</textarea>
                                                    </div>
                                                </div>
                                            </div>  		
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-3 col-md-9">
												<button type="submit" class="btn blue">保存</button>
												<button type="reset" class="btn default" onclick="history.back();">取消</button>
											</div>
										</div>
									</div>
								</form>
								<!-- END FORM-->
							</div>
						</div>
						<!-- END VALIDATION STATES-->
					</div>
				</div>
				<!-- END DASHBOARD STATS -->
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<#include "/view/include/footer.html" />
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<#include "/view/include/globalscript.html" />
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script type='text/javascript' src="${base}/assets/admin/plugins/select/js/jquery.combo.select.js"></script>
	<script type="text/javascript" src="${base}/assets/admin/plugins/ajaxfileupload.js"></script>
	<script type="text/javascript" src="${base}/assets/admin/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="${base}/assets/admin/plugins/select2/select2_locale_zh-CN.js"></script>
	<script type="text/javascript"
		src="${base}/assets/admin/plugins/jquery-validation/js/jquery.validate.js"></script>
	<script type="text/javascript"
		src="${base}/assets/admin/plugins/jquery-validation/js/additional-methods.js"></script>
	<script type="text/javascript"
		src="${base}/assets/admin/plugins/jquery-validation/js/localization/messages_zh.js"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		$(document).ready(function() {
			Metronic.init(); // init metronic core componets
			Layout.init(); // init layout
			if ($("#userId").val() != "") {
				$(".edithid").hide();
				editValidation();
			}else{
				addValidation();
			}	
			
			$(function() {
				$('select').comboSelect();
			});					
		});
		
		//当为信息部角色时显示所属信息部
		/* if($("#role option:selected").val()==3 || $("#role option:selected").val()==4){
		    $("#coalhide").attr("style","");
		} */
		/* function showCoals(role){		    
		    if(role==3 || role==4){
		        $("#coalhide").attr("style","");
		    }else{
		        $("#coalhide").attr("style","display: none");
		        $("#coalSalesId option:selected").val("");
		    }
		} */

		var addValidation = function() {

			var form1 = $('#userform');

			form1.validate({
				errorElement : 'span', //default input error message container
				errorClass : 'help-block help-block-error', // default input error message class
				focusInvalid : false, // do not focus the last invalid input
				ignore : "", // validate all fields including form hidden input
				rules : {
					userName : {
						minlength :2,
						maxlength : 50,
						required : true,
						remote : {
							url : 'validUserName.json',
							type : 'post',
							data : {
								'userId' : function() {
									return $("#userId").val();
								},
								'userName' : function() {
									return $("#userName").val();
								}
							}
						}
					},
					userPwd : {
						minlength : 6,
						required : true
					},
					confirmPwd : {
						minlength : 6,
						required : true,
						equalTo : "#userPwd"
					},
					roleId : {
						required : true
					},
					userMobile:{
						isMobile : true,
					}
					
				},
				messages : {
					userName : {
						remote : "用户名已存在！"
					},
					confirmPwd : {
						equalTo : "两次输入密码不一致！"
					}
				
				},

				invalidHandler : function(event, validator) { //display error alert on form submit              

				},

				highlight : function(element) { // hightlight error inputs
					$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
				},

				unhighlight : function(element) { // revert the change done by hightlight
					$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
				},

				success : function(label) {
					label.closest('.form-group').removeClass('has-error'); // set success class to the control group
				}
			});

		};
		function ajaxFileUpload() {			
			var file = jQuery("input[id='file']").val();
			var filename = file.replace(/.*(\/|\\)/, "");
			var fileExt = (/[.]/.exec(filename)) ? /[^.]+$/.exec(filename
					.toLowerCase()) : '';			
			if (fileExt == "jpg" || fileExt == "png"|| fileExt == "jpeg") {
				$.ajaxFileUpload({
					url : "imageUpload.do",
					secureuri : false,
					fileElementId:"file",
					data: {"fieldName":"user"},//需要传输的数据  
					dataType : "json",
					success : function(data) {
					console.log(data);
						console.log(data.responseXML)
						if (data) {
						    $("#headPicCode").val(data.newname);
						    $("#pics1").html("<img src="+data.url+"/>");
						}
					},
					error : function(data) {
					console.log(data.responseXML)
					  var  data1={'newname':data.responseXML.all[1].textContent,'name':data.responseXML.all[2].textContent,url:data.responseXML.all[3].textContent};
					  if(data1.name!=null&&data1.url!=null){
					    $("#headPicCode").val(data1.newname);
						$("#pics1").html("<img src="+data1.url+"/>");
					  }
					}
				});
			} else {
				alert("图片格式不正确，请重新选择！(暂时支持jpg格式)");
				var div1 = document.getElementById('pics');
				div1.style.color = "white";
			}
			
		}
		
		var editValidation = function() {

			var form1 = $('#userform');

			form1.validate({
				errorElement : 'span', //default input error message container
				errorClass : 'help-block help-block-error', // default input error message class
				focusInvalid : false, // do not focus the last invalid input
				ignore : "", // validate all fields including form hidden input
				rules : {
					userName : {
						minlength : 2,
						maxlength : 50,
						required : true,
						remote : {
							url : 'validUserName.json',
							type : 'post',
							data : {
								'userId' : function() {
									return $("#userId").val();
								},
								'userName' : function() {
									return $("#userName").val();
								}
							}
						}
					},
					roleId : {
						required : true
					},
					userTrueName : {
						required : true
					},
					userMobile:{
						isMobile : true,
					},
					
				},
				messages : {
					userName : {
						remote : "用户名已存在！"
					},
					confirmPwd : {
						equalTo : "两次输入密码不一致！"
					},
				},

				invalidHandler : function(event, validator) { //display error alert on form submit              

				},

				highlight : function(element) { // hightlight error inputs
					$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
				},

				unhighlight : function(element) { // revert the change done by hightlight
					$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
				},

				success : function(label) {
					label.closest('.form-group').removeClass('has-error'); // set success class to the control group
				}
			});

		};
		
		
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
