
 #image_style_01_1589415501144{width:100%;height:240px;position:absolute;top:-10px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1589415501144{height:180px;}}   @media screen and (max-width:640px) {#image_style_01_1589415501144{width:100%;height:100px;top:-10px;left:0%;}} #image_style_01_1589415501144 > .view_contents{overflow:visible;} 

 #text_style_01_1589415501155{width:50%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;left:25%;top:80px;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1589415501155{width:50%;top:50px;}}   @media screen and (max-width:640px) {#text_style_01_1589415501155{width:96%;font-size:12px;color:#333;line-height:1.6;top:25px;left:2%;}}  #text_style_01_1589415501155>.view_contents {font-size:28px;line-height:50px;text-align:center;color:#ffffff;font-weight:normal;font-family:Microsoft YaHei;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1589415501155>.view_contents {font-size:24px;}} @media screen and (max-width:640px) { #text_style_01_1589415501155>.view_contents {font-size:18px;line-height:26px;text-align:center;}} #layout_1589415501138{height:260px;display:block;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1589415501138{display:block;height:170px;}}   @media screen and (max-width:640px) {#layout_1589415501138{display:block;height:90px;}} #layout_1589415501138 > .view_contents{overflow:visible;}  #layout_1589415501138  {background:#56509f;}


 #newsKind_style_04_1589419738071{width:96%;left:2%;top:35px;position:absolute;}   @media screen and (min-width:641px) and (max-width:1200px) {#newsKind_style_04_1589419738071{left:2%;width:96%;}}   @media screen and (max-width:640px) {#newsKind_style_04_1589419738071{top:10px;left:2%;width:96%;}} #newsKind_style_04_1589419738071 > .view_contents{overflow:visible;}  #newsKind_style_04_1589419738071 .oneSet:hover {background:#ff6766;font-weight:normal;color:#ffffff;padding-left:30px;padding-right:30px;border-radius:10px;} #newsKind_style_04_1589419738071 #currentSet {background:#ff6766;font-weight:normal;color:#ffffff;padding-left:30px;padding-right:30px;border-radius:10px;} #newsKind_style_04_1589419738071 .curgSet {background:#ff6766;font-weight:normal;color:#ffffff;padding-left:30px;padding-right:30px;border-radius:10px;} #newsKind_style_04_1589419738071 .oneSet {font-weight:normal;padding-left:30px;padding-right:30px;border-radius:initial;background:transparent;margin-left:20px;margin-right:20px;} #newsKind_style_04_1589419738071 #oneHot {background:#ff6766;border-radius:10px;color:#ffffff;} @media screen and (min-width:641px) and (max-width:1200px) { #newsKind_style_04_1589419738071 .oneSet {padding-left:20px;padding-right:20px;font-size:14px;line-height:40px;height:40px;border-radius:initial;}} @media screen and (min-width:641px) and (max-width:1200px) { #newsKind_style_04_1589419738071 .oneSet:hover {padding-left:20px;padding-right:20px;border-radius:5px;}} @media screen and (min-width:641px) and (max-width:1200px) { #newsKind_style_04_1589419738071 #currentSet {padding-left:20px;padding-right:20px;border-radius:5px;}} @media screen and (min-width:641px) and (max-width:1200px) { #newsKind_style_04_1589419738071 .curgSet {padding-left:20px;padding-right:20px;border-radius:5px;}} @media screen and (min-width:641px) and (max-width:1200px) { #newsKind_style_04_1589419738071 #oneHot {border-radius:5px;}} @media screen and (max-width:640px) { #newsKind_style_04_1589419738071 .oneSet {padding-left:15px;padding-right:15px;font-size:14px;line-height:30px;height:30px;}} @media screen and (max-width:640px) { #newsKind_style_04_1589419738071 .oneSet:hover {font-size:14px;padding-left:15px;padding-right:15px;}} @media screen and (max-width:640px) { #newsKind_style_04_1589419738071 #currentSet {font-size:14px;padding-left:15px;padding-right:15px;}} @media screen and (max-width:640px) { #newsKind_style_04_1589419738071 .curgSet {font-size:14px;padding-left:15px;padding-right:15px;}} #layout_1589419738066{height:90px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1589419738066{height:80px;}}   @media screen and (max-width:640px) {#layout_1589419738066{height:50px;z-index:1;}} #layout_1589419738066 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1589419738066  {background-repeat:repeat-x!important;background-size:auto 100%;background-position:50% 50% !important;background:#ffffff;}



 #newsList_style_23_1578466210917{width:94%;margin:30px 3%;z-index:1;display:block;}   @media screen and (min-width:641px) and (max-width:1200px) {#newsList_style_23_1578466210917{width:96%;left:2%;display:block;}}   @media screen and (max-width:640px) {#newsList_style_23_1578466210917{top:20px;display:block;}}  #newsList_style_23_1578466210917 .modSet {background:#ffffff;padding-bottom:0px;} #newsList_style_23_1578466210917 .page_btn .pageSet {margin-bottom:50px;padding-bottom:0px;} #newsList_style_23_1578466210917 .titleSet {font-weight:bold;font-size:20px;} #newsList_style_23_1578466210917 .detailSet {line-height:28px;font-size:15px;color:#999999;height:66px;} #newsList_style_23_1578466210917 .sortSet {font-size:14px;font-family:Microsoft YaHei;} #newsList_style_23_1578466210917 .timesSet {color:#ff6766;font-weight:bold;font-size:20px;} #newsList_style_23_1578466210917 .ydSet {font-size:14px;} #newsList_style_23_1578466210917 .btnaSet {background:#ff6766;border-radius:5px;} #newsList_style_23_1578466210917 .modSet:hover .titleSet {font-family:Microsoft YaHei;font-size:20px;font-weight:bold;color:#ff6766;} #newsList_style_23_1578466210917 .modSet:hover .detailSet {font-size:15px;font-family:Microsoft YaHei;color:#666666;margin-top:24px;line-height:28px;height:66px;} #newsList_style_23_1578466210917 .btnaSet:hover {background:rgba(255,103,102,0.9);} #newsList_style_23_1578466210917 .modSet:hover .imgSet {border-style:solid;border-width:0px;border-color:#6aa84f;} #newsList_style_23_1578466210917 .page_btn .pageSet:hover {background:#6aa84f;} #newsList_style_23_1578466210917 .imgSet {height:180px;} @media screen and (min-width:641px) and (max-width:1200px) { #newsList_style_23_1578466210917 .titleSet {font-size:18px;}} @media screen and (min-width:641px) and (max-width:1200px) { #newsList_style_23_1578466210917 .detailSet {font-size:14px;height:56px;margin-top:14px;}} @media screen and (min-width:641px) and (max-width:1200px) { #newsList_style_23_1578466210917 .timesSet {font-size:18px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .titleSet {font-size:14px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .detailSet {font-size:12px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .sortSet {font-size:12px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .timesSet {font-size:16px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .ydSet {font-size:12px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .modSet:hover .titleSet {font-size:14px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .modSet:hover .detailSet {font-size:12px;height:66px;margin-top:4px;}} @media screen and (max-width:640px) { #newsList_style_23_1578466210917 .imgSet {height:180px;background:#ffffff;}}
 #div_a_includeBlock_1578466168969{width:100%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578466168969{width:100%;margin-left:0%;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578466168969{width:100%;top:10px;left:0%;}} #div_a_includeBlock_1578466168969 > .view_contents{overflow:hidden;}  #div_a_includeBlock_1578466168969  {background:#ffffff;border-style:solid;border-width:1px;border-color:#dddddd;} #layout_1578466190563{margin:30px auto}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1578466190563{}}   @media screen and (max-width:640px) {#layout_1578466190563{margin: 20px auto 40px;}} #layout_1578466190563 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1578466190563  {background:#ffffff;}
 #layout_1578466751893{height:30px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1578466751893{height:20px;}}   @media screen and (max-width:640px) {#layout_1578466751893{height:10px;}} #layout_1578466751893 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1578466751893:active {background:#eeeeee;} #layout_1578466751893  {background:#ffffff;}


 

 #text_style_01_1578303148727{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:120px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1578303148727{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1578303148727{width:96%;font-size:12px;color:#333;line-height:1.6;top:238px;left:2%;display:block;}}  #text_style_01_1578303148727>.view_contents {font-size:32px;line-height:38px;color:#ff6766;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1578303148727>.view_contents {font-size:30px;}}

 #text_style_01_1579311980238{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:0px;left:0%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579311980238{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579311980238{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579311980238>.view_contents {font-size:24px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579311980238>.view_contents {font-size:22px;}}

 #text_style_01_1579312014094{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:40px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579312014094{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579312014094{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579312014094>.view_contents {font-size:14px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579312014094>.view_contents {font-size:13px;}}

 #div_blank_new05_1579312181013{width:100%;position:absolute;left:0%;top:75px;z-index:3;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_blank_new05_1579312181013{left:0%;width:100%;}}   @media screen and (max-width:640px) {#div_blank_new05_1579312181013{width:100px;top:0px;left:33.4983498349835%;}}  #div_blank_new05_1579312181013  {box-sizing:border-box;} #div_blank_new05_1579312181013 .roundcs {border-color:#999999;} @media screen and (min-width:641px) and (max-width:1200px) { #div_blank_new05_1579312181013  {box-sizing:border-box;}} @media screen and (max-width:640px) { #div_blank_new05_1579312181013  {box-sizing:border-box;}}

 #text_style_01_1579312229265{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:180px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579312229265{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579312229265{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579312229265>.view_contents {font-size:24px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579312229265>.view_contents {font-size:22px;}}

 #text_style_01_1579312287432{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:220px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579312287432{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579312287432{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579312287432>.view_contents {font-size:14px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579312287432>.view_contents {font-size:13px;}}

 #div_blank_new05_1579312334751{width:100%;position:absolute;left:0%;top:255px;z-index:3;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_blank_new05_1579312334751{width:33.003300330033%;}}   @media screen and (max-width:640px) {#div_blank_new05_1579312334751{width:33.003300330033%;top:0px;left:0%;}}  #div_blank_new05_1579312334751  {box-sizing:border-box;} #div_blank_new05_1579312334751 .roundcs {border-color:#999999;} @media screen and (min-width:641px) and (max-width:1200px) { #div_blank_new05_1579312334751  {box-sizing:border-box;}} @media screen and (max-width:640px) { #div_blank_new05_1579312334751  {box-sizing:border-box;}}

 #button_style_04_1579312368696{width:33%;left:0%;top:290px;position:absolute;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#button_style_04_1579312368696{width:33%;}}   @media screen and (max-width:640px) {#button_style_04_1579312368696{display:block;top:0px;width:100%;left:0%;}} #button_style_04_1579312368696 > .view_contents{overflow:visible;}  #button_style_04_1579312368696 .btnaSet {background:transparent;color:#ff6766;border-radius:initial;border-width:1px;border-style:solid;border-color:#ff6766;font-family:Microsoft YaHei;height:32px;} #button_style_04_1579312368696 .btnaSet:hover {background:#ff6766;color:#ffffff;} @media screen and (max-width:640px) { #button_style_04_1579312368696 .btnaSet {font-size:12px;font-family:Microsoft YaHei;border-width:0px;border-radius:40px;height:36px;}}
 #div_a_includeBlock_1578303272572{width:28%;height:352px;position:absolute;top:60px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578303272572{top:30px;left:1%;height:340px;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578303272572{width:100%;height:44px;top:494px;left:0%;display:none;}} 


 #image_style_11_1578303970642{width:92%;position:absolute;left:3.997395833333333%;top:10px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_11_1578303970642{}}   @media screen and (max-width:640px) {#image_style_11_1578303970642{height:157px;top:24px;left:34.873487348734876%;width:30.25302530253025%;}} #image_style_11_1578303970642 > .view_contents{overflow:visible;} 

 #text_default_1579499908478{width:100%;height:40px;position:absolute;top:0px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_default_1579499908478{}}   @media screen and (max-width:640px) {#text_default_1579499908478{width:100%;height:300px;top:181px;left:0%;}} 
 #div_a_includeBlock_1578303924489{width:20%;height:173px;position:absolute;top:60px;left:80%;z-index:9999;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578303924489{top:30px;left:75%;width:24%;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578303924489{width:100%;height:512px;top:787px;left:0%;display:none;}} 


 #text_style_01_1578304240487{width:50%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:105px;left:0%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1578304240487{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1578304240487{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:2%;display:none;}}  #text_style_01_1578304240487>.view_contents {font-size:12px;line-height:28px;color:#ffffff;font-weight:normal;text-align:center;}

 #image_style_01_1578304752776{width:50%;height:100px;position:absolute;left:0%;top:0px;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304752776{left:0%;width:50%;}}   @media screen and (max-width:640px) {#image_style_01_1578304752776{}} #image_style_01_1578304752776 > .view_contents{overflow:visible;} 

 #image_style_01_1578304855901{width:50%;height:100px;position:absolute;left:50%;top:0px;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304855901{}}   @media screen and (max-width:640px) {#image_style_01_1578304855901{}} #image_style_01_1578304855901 > .view_contents{overflow:visible;} 

 #text_style_01_1578304868358{width:50%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:105px;left:50%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1578304868358{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1578304868358{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:none;}}  #text_style_01_1578304868358>.view_contents {font-size:12px;line-height:28px;color:#ffffff;font-weight:normal;text-align:center;}
 #div_a_includeBlock_1578304240250{width:20%;height:160px;position:absolute;top:250px;left:80%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578304240250{top:200px;left:75%;width:24%;height:170px;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578304240250{width:100%;height:235px;top:1235px;left:0%;display:none;}} 

 #qqol_style_01_1575620923404{width:17.497348886532343%;position:absolute;top:7px;left:41.25132555673383%;}   @media screen and (min-width:641px) and (max-width:1200px) {#qqol_style_01_1575620923404{top:7px;left:77.00324761399789%;width:17.497348886532343%;}}   @media screen and (max-width:640px) {#qqol_style_01_1575620923404{width:96%;top:0px;left:2%;display:none;}} #qqol_style_01_1575620923404 > .view_contents{overflow:visible;} 



 #text_style_01_1579313117572{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:0px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579313117572{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579313117572{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:2%;display:block;}}  #text_style_01_1579313117572>.view_contents {font-size:24px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579313117572>.view_contents {font-size:22px;}}

 #text_style_01_1579313134788{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:40px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579313134788{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579313134788{width:96%;font-size:12px;color:#333;line-height:1.6;top:48px;left:2%;display:block;}}  #text_style_01_1579313134788>.view_contents {font-size:14px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579313134788>.view_contents {font-size:13px;}}

 #customForm_style_input_01_1579313171983{width:100%;position:absolute;left:0%;top:85px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_input_01_1579313171983{left:0%;width:100%;}}   @media screen and (max-width:640px) {#customForm_style_input_01_1579313171983{width:96%;top:96px;left:2%;}} #customForm_style_input_01_1579313171983 > .view_contents{overflow:visible;}  #customForm_style_input_01_1579313171983 .inputSet {font-size:14px;background:transparent;color:#ffffff;line-height:40px;height:40px;padding-top:10px;padding-bottom:10px;border-radius:2px;padding-left:10px;padding-right:10px;}

 #customForm_style_input_01_1579313485060{width:100%;position:absolute;left:0%;top:145px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_input_01_1579313485060{width:100%;}}   @media screen and (max-width:640px) {#customForm_style_input_01_1579313485060{width:96%;top:146px;left:2%;}} #customForm_style_input_01_1579313485060 > .view_contents{overflow:visible;}  #customForm_style_input_01_1579313485060 .inputSet {font-size:14px;background:transparent;color:#ffffff;line-height:40px;height:40px;padding-top:10px;padding-bottom:10px;border-radius:2px;padding-left:10px;padding-right:10px;}

 #customForm_style_textarea_01_1579313579008{width:100%;height:62px;position:absolute;left:0%;top:205px;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_textarea_01_1579313579008{left:0%;width:100%;}}   @media screen and (max-width:640px) {#customForm_style_textarea_01_1579313579008{width:96%;height:200px;top:196px;left:2%;}} #customForm_style_textarea_01_1579313579008 > .view_contents{overflow:visible;}  #customForm_style_textarea_01_1579313579008 .inputSet {background:transparent;font-size:14px;color:#ffffff;height:60px;line-height:24px;border-radius:2px;}

 #customForm_style_button_01_1579313750950{width:35%;position:absolute;left:0%;top:288px;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_button_01_1579313750950{left:0%;width:30%;}}   @media screen and (max-width:640px) {#customForm_style_button_01_1579313750950{width:96%;top:406px;left:2%;}} #customForm_style_button_01_1579313750950 > .view_contents{overflow:visible;}  #customForm_style_button_01_1579313750950 .btnaSet {border-color:#ff6766;background:#ff6766;color:#ffffff;border-radius:2px;}



	#image_style_01_1589415501144 .CompatibleImg img{width:100%; height:auto; margin-left:0px}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1589415501144 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1589415501144 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1589415501144 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
.newscateStyle_4{ width:100%; height:100%;background:white; border-radius:50px;  white-space: nowrap; text-align:center; -webkit-overflow-scrolling: touch; overflow-x:scroll; overflow-y:hidden; position:relative;}
.newscateStyle_4::-webkit-scrollbar {
    display: none;
}
.newscateStyle_4 .newscate{width:100%; display:inline-block;font-size: 0;}
.newscateStyle_4 .newscate li{display:inline-block; position:relative; text-align: center; width:auto;}
.newscateStyle_4 .newscate li a{border-radius:50px;  display:block; height:50px; line-height:50px; color:#666; font-size:16px; padding:0 25px;}
.newscateStyle_4 .newscate li a#currentSet{background:#f44646;color:white;}
.newscateStyle_4 .newscate li a:hover{background:#f44646;color:white;}
.newscateStyle_4 #curset{ background:#f44646; color:white;} 
/*新闻列表样式*/  
.newslist_style_23{padding: 0;margin: 0;list-style: none; background-color: #fff;}
.newslist_style_23 li{overflow: hidden;box-sizing: border-box; padding-bottom: 0;}
.newslist_style_23 .newsDate{float: left;width: 240px; padding-right: 1.8em;border-right: 1px solid #ddd;}
.newslist_style_23 .newsDate .newsTime{display: block; font-size: 18px;text-align: right; overflow: hidden;box-sizing: border-box;}
.newslist_style_23 .newsCont:before{content: '';display: block;width: 14px;height: 14px;border-radius: 10px;position: absolute;top: 4px;left: -8px;background-color: #ddd;}
.newslist_style_23 .newsCont{position: relative;float: left;width: calc(100% - 240px - 24px);border-left: 1px solid #ddd;padding: 0 0 0 24px;left: -1px;box-sizing: border-box;}
.newslist_style_23 .newsCont .newsTitle{font-size: 18px;overflow: hidden;}
.newslist_style_23 .newsCont .newsBrief{display: -webkit-box; overflow: hidden; clear: both;}
.newslist_style_23 .newsCont .newsTitle .titleHr{display: block; height: 4px!important; width:40px; background-color: #96b788; margin:10px 0 12px 0!important;padding: 0!important;border: 0px!important;}
.newslist_style_23 .newsCont .newsTitle a{font-size: inherit; line-height: inherit; color: inherit; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: normal !important; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.newslist_style_23 .newsCont .newDetail{font-size: 14px;color: #999;overflow: hidden;margin-top: 24px;}
.newslist_style_23 .nsDate{display: inline-block;}

/*alex---后期加的图片样式*/
.newslist_style_23 .newPic{background-color: #eee;width:100%;overflow:hidden; position:relative; box-sizing:border-box; float:right; margin-top: 30px;margin-bottom: 36px;}
.newslist_style_23 .newPic a{display: block; position: absolute; left: 0; top: 0; width: 100%;} 
.newslist_style_23 .newPic img{width:100%; float: left;background-color: #eee;}
.newslist_style_23 .newPic2{display: none;}
.newslist_style_23 .show_all{width:100%;float: left;padding-bottom: 36px;}
.newslist_style_23 .show_all a{border:0px; display:inline-block; text-align:center;font-size:14px; line-height: 42px; padding:0 50px; margin-top: 38px; color:#ffffff; background-color: #96b788;}
.newslist_style_23 .newSort{display: inline-block;float: left; color:#333;margin-right: 20px;}

/* 分页 */
.newslist_style_23 .page{display:inline-block; border:none; background:white; text-align: center; width:auto; padding:0 15px; margin:0 .5px; height:auto; line-height:35px; box-sizing: border-box; -webkit-box-sizing: border-box; border:1px solid #e5e5e5;}
.newslist_style_23 .page_btn .cur{ background:red; color:white; cursor:pointer;}
.newslist_style_23 .page:hover{ background:red; color:white; cursor:pointer;}

@media screen and (max-width: 640px) {
	.newslist_style_23 .newsDate{width: 120px;padding-right: 10px;} 
	.newslist_style_23 .newsDate .newsTime{font-size: 14px;padding:0;}
	.newslist_style_23 .newsCont:before{width: 8px;height: 8px;top: 8px;left: -5px;}
	.newslist_style_23 .newsCont{ padding: 0 0px 0px 10px;width: calc(100% - 120px - 12px);}
	.newslist_style_23 .newsCont .newsTitle{font-size: 14px;}
	.newslist_style_23 .newsCont .newsTitle a{display: -webkit-box; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: normal !important; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
	.newslist_style_23 .newsCont .newsBrief{display: -webkit-box; overflow: hidden; }
	.newslist_style_23 .newsCont .newDetail{font-size: 12px;margin-top: 4px;}
	.newslist_style_23  .newPic{width:100%;float:none;margin-bottom: 16px;margin-top: 16px;}
	.newslist_style_23 .show_all{width:100%;margin-top:0;padding-bottom: 0;}
	.newslist_style_23 .newsCont .newsTitle .titleHr{height: 2px!important;}
	.newslist_style_23 .show_all a{font-size: 12px;line-height: 28px;margin-top: 6px;margin-bottom: 16px;}
}
	#newsList_style_23_1578466210917 .newDetail.pc {display:block;}
	#newsList_style_23_1578466210917 .newDetail.pad, #newsList_style_23_1578466210917 .newDetail.mobile {display:none;}
	#newsList_style_23_1578466210917 .newTitle.pc {display:block;}
	#newsList_style_23_1578466210917 .newTitle.pad, #newsList_style_23_1578466210917 .newTitle.mobile {display:none;}
	@media screen and (min-width:641px) and (max-width:1200px) {
		#newsList_style_23_1578466210917 .newDetail.pad {display:block;}
		#newsList_style_23_1578466210917 .newDetail.pc, #newsList_style_23_1578466210917 .newDetail.mobile {display:none;}
		#newsList_style_23_1578466210917 .newTitle.pad {display:block;}
		#newsList_style_23_1578466210917 .newTitle.pc, #newsList_style_23_1578466210917 .newTitle.mobile {display:none;}
	}
	@media screen and (max-width:640px) {
		#newsList_style_23_1578466210917 .newDetail.mobile {display:block;}
		#newsList_style_23_1578466210917 .newDetail.pc, #newsList_style_23_1578466210917 .newDetail.pad {display:none;}
		#newsList_style_23_1578466210917 .newTitle.mobile {display:block;}
		#newsList_style_23_1578466210917 .newTitle.pc, #newsList_style_23_1578466210917 .newTitle.pad {display:none;}
	}

@media screen and (min-width: 1025px) {
	#newsList_style_23_1578466210917 .newslist_style_23 .newsDate{width:  288px;}
	#newsList_style_23_1578466210917 .newslist_style_23 .newsCont{width: calc(100% - 288px - 24px);}
	}
@media screen and (min-width: 640px) and (max-width: 1024px) {
	#newsList_style_23_1578466210917 .newslist_style_23 .newsDate{width:  Arraypx;}
	#newsList_style_23_1578466210917 .newslist_style_23 .newsCont{width: calc(100% - Arraypx - 24px);}
	}

@media screen and (max-width: 640px) {
}

/* 新分页 */
#newsList_style_23_1578466210917 .page_btn{ font-size:14px; text-align: center;}
#newsList_style_23_1578466210917 .page_btn .all_page{ display:inline-block; margin:0 10px; }
#newsList_style_23_1578466210917 .page:hover{ background:red; color:white; cursor:pointer;}
#newsList_style_23_1578466210917 .page_btn .cur{ background:red; color:white; cursor:pointer;}
#newsList_style_23_1578466210917 .submit_div{ display: inline-block; }

#newsList_style_23_1578466210917 .page_btn input{ width:50px; margin:0 5px;}
#newsList_style_23_1578466210917 .page_btn input:hover{ cursor:default; background:white; color:#333;}
#newsList_style_23_1578466210917 .page_submit{margin-left:5px;}
#newsList_style_23_1578466210917 .page{display:inline-block; border:none; background:white; text-align: center; width:auto; padding:0 15px; margin:0 .5px; height:auto; line-height:35px; box-sizing: border-box; -webkit-box-sizing: border-box; border:1px solid #e5e5e5;}
@media screen and (max-width:640px) {
		#newsList_style_23_1578466210917 .page_btn{ font-size:12px; }
		#newsList_style_23_1578466210917 .submit_div{ display:none; }
	}

	#newsList_style_23_1578466210917 .page{width:auto; margin:0 5px 10px 5px; border-radius:5px;  }
	@media screen and (max-width:640px) {
		#newsList_style_23_1578466210917 .page{line-height:30px; padding:0 13px;}
	}

.blank_new05.blank_area {
  width:100%;
	padding-top: 10px;padding-bottom: 10px;
}
.blank_new05 .roundcs {
  position: relative;
	
	border-bottom: none!important;
	border-right: none!important;
	border-left: none!important;
	border:1px solid #1badf8;
}
	.blank_new05.blank_area {
  width:100%;
	padding-top: 10px;padding-bottom: 10px;
}
.blank_new05 .roundcs {
  position: relative;
	
	border-bottom: none!important;
	border-right: none!important;
	border-left: none!important;
	border:1px solid #1badf8;
}
	
	#button_style_04_1579312368696 .button_default .buttonImg {width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}@media screen and (min-width:641px) and (max-width:1200px) {#button_style_04_1579312368696 .button_default .buttonImg {width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}@media screen and (max-width:640px) {#button_style_04_1579312368696 .button_default .buttonImg {width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}.imgStyle_11{position:relative; clear: both; width: 100%; height: 100%;}
.imgStyle_11 ul{width: 100%; display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:wrap; justify-content:space-between;}
.imgStyle_11 ul li.imgItems{position: relative; overflow: hidden !important; width: 19%; box-sizing:border-box; margin-bottom:10px;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
	}
.imgStyle_11 ul li .ratio{margin-top: 100%;}
.imgStyle_11 ul li a{}
.imgStyle_11 ul li:hover{z-index: 2; transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1);}
.imgStyle_11 ul li a img{position: absolute; width: auto; height: 100%; top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}


.imgStyle_11 .theimgtext{height:30px;line-height: 30px;font-size: 14px;color:black;width:100%;text-align: center;}
.imgStyle_11 .theimgdiv{position:absolute;width:100%;height:100%;height:100%;background-repeat: no-repeat !important;background-position-x: 50% !important;background-position-y: 50% !important;background-size: auto 100% !important;}

.imgShowBox{position: fixed; z-index: 9999; background-color: rgba(0, 0, 0, 0.4); top: 0; left: 0; width: 100%; height: 100%;}
.imgShowBox img{ position: absolute; width: auto; max-width: 80%; border: 20px solid #fff;top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); box-shadow: 0 0 10px rgba(0,0,0,.3);}
.imgShowBox.scroll{overflow-y:scroll;overflow-x:hidden;}
.imgShowBox.scroll::-webkit-scrollbar {width: 6px; height: 6px; background: rgba(0,0,0,.05);}
.imgShowBox.scroll::-webkit-scrollbar{width: 6px; height: 6px; background: rgba(0,0,0,.02);}
.imgShowBox.scroll::-webkit-scrollbar-button{background: #f7f7f7; height: 0;}
.imgShowBox.scroll::-webkit-scrollbar-corner{background: rgba(0,0,0,.05);}
.imgShowBox.scroll::-webkit-scrollbar-thumb{background: rgba(255,255,255,.7); border-radius: 3px;}

.imgShowBox.scroll img{top:5%; margin-bottom: 5%; transform: translate(-50%,0%); -webkit-transform: translate(-50%,0%); -moz-transform: translate(-50%,0%); -o-transform: translate(-50%,0%);}
.pos_fixed{position: fixed; width: 100%;}
.imgButton{position: fixed; width: 70%; max-width: 400px; bottom: 15%; left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:nowrap; justify-content:space-between; align-items:center;}
.imgButton span{display: inline-block; cursor:pointer; box-shadow: 0 0 6px rgba(0,0,0,.2);
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
.imgButton span:hover{opacity: .8;}
.imgButton span i{font-size: inherit; line-height: inherit; color:inherit;}
.imgButton span.prevImg, .imgButton span.nextImg, .imgButton span.closeShowPic{ font-size: 40px; width: 50px; height:50px; line-height: 50px;  border-radius: 100%;font-family: serif; background-color: #fff; text-align: center; box-sizing: border-box;}
.imgButton span.prevImg, .imgButton span.nextImg{font-size: 26px; width: 40px; height: 40px; line-height: 40px; text-align: center;}
@media screen and (max-width: 1024px){.imgStyle_11 ul li{width: 24%;}}
@media screen and (max-width: 768px){
	.imgStyle_11 ul li{width: 49%;}
	.imgShowBox img{border-width: 10px;}
	.imgShowBox.scroll img{top:5%; margin-bottom: 10vh;}
}



/*pc*/
#image_style_11_1578303970642  ul li{width: 47.5%;}
#image_style_11_1578303970642  ul li.imgItems{margin-bottom:5%;}
@media screen and (max-width: 1024px){/*ipad*/
	#image_style_11_1578303970642  ul li{width: 49%;}
	#image_style_11_1578303970642  ul li.imgItems{margin-bottom:2%;}
}
@media screen and (max-width: 768px){/*mobi*/
	#image_style_11_1578303970642  ul li{width: 49%;}
	#image_style_11_1578303970642  ul li.imgItems{margin-bottom:2%;}
}

	#image_style_01_1578304752776 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304752776 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}@media screen and (max-width:640px) {#image_style_01_1578304752776 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1578304752776 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1578304855901 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304855901 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}@media screen and (max-width:640px) {#image_style_01_1578304855901 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1578304855901 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

/* 清除浮动 */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}

.online-service-style01{ display:none }
.online-service .wrapper{ padding:5px 0; background-color:#fff }
.online-service .close,.online-service .button{
    -webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;
}
.online-service.right .button div{ text-align:right; padding-right:5px }
.online-service.left .button div{ text-align:left; padding-left:5px }
.online-service .header, .online-service .footer{
    height:25px; line-height:25px;
    padding:0 .5em;
}
.online-service .header{ border-bottom:1px solid #eee }
.online-service .footer{ border-top:1px solid #eee; font-size:12px }
.online-service.right .footer{ text-align:right }
.online-service.left .footer{ text-align:left }
.online-service .content{ padding:.5em 1em }

.ol-qq-online .qq-btn{ float:left; margin-right:.5em }
.ol-qq-online .qq-btn img{ float:left }
.ol-qq-online{ line-height:25px }

.ol-image img{ width:100% }
