

 #image_style_01_1589421417719{width:100%;height:120px;position:absolute;top:-10px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1589421417719{height:60px;}}   @media screen and (max-width:640px) {#image_style_01_1589421417719{width:100%;height:50px;top:-10px;left:0%;}} #image_style_01_1589421417719 > .view_contents{overflow:visible;}  #layout_1589421417715{height:110px;display:block;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1589421417715{display:block;height:50px;}}   @media screen and (max-width:640px) {#layout_1589421417715{display:block;height:40px;}} #layout_1589421417715 > .view_contents{overflow:visible;}  #layout_1589421417715  {background:#56509f;}



 #prodPic_style_02_1578575795020{width:500px;float: left;margin-left:60px;margin-top:50px}   
 @media screen and (min-width:641px) and (max-width:1200px) {#prodPic_style_02_1578575795020{width:45%;;margin-left:2%;margin-top:20px}} 
   @media screen and (max-width:640px) {#prodPic_style_02_1578575795020{width:96%;margin-left:2%;margin-top:10px;}} 

 #prodInfor_style_01_1482460665817{width:500px;margin-top:50px;}   @media screen and (min-width:641px) and (max-width:1200px) {#prodInfor_style_01_1482460665817{margin-top:30px;width:46%;}}   @media screen and (max-width:640px) {#prodInfor_style_01_1482460665817{width:96%;margin-left:2%;}} #prodInfor_style_01_1482460665817 > .view_contents{overflow:visible;}  #prodInfor_style_01_1482460665817 .buyTProSet {background:#ff6766;font-size:16px;line-height:44px;height:44px;} #prodInfor_style_01_1482460665817 .buyTProSet:hover {background:rgba(255,103,102,0.9);} #prodInfor_style_01_1482460665817 .titProSet {line-height:48px;font-size:28px;} #prodInfor_style_01_1482460665817 .defProSet {font-size:15px;line-height:32px;color:#888888;} #prodInfor_style_01_1482460665817 .colorPorSet {font-size:14px;} @media screen and (min-width:641px) and (max-width:1200px) { #prodInfor_style_01_1482460665817 .titProSet {font-size:24px;}} @media screen and (min-width:641px) and (max-width:1200px) { #prodInfor_style_01_1482460665817 .defProSet {font-size:15px;}} @media screen and (min-width:641px) and (max-width:1200px) { #prodInfor_style_01_1482460665817 .buyTProSet {font-size:15px;line-height:40px;height:40px;}} @media screen and (max-width:640px) { #prodInfor_style_01_1482460665817 .titProSet {font-size:18px;line-height:32px;text-align:center;font-weight:bold;}} @media screen and (max-width:640px) { #prodInfor_style_01_1482460665817 .defProSet {text-align:center;margin-bottom:10px;margin-top:10px;}} @media screen and (max-width:640px) { #prodInfor_style_01_1482460665817 .colorPorSet {text-align:center;}} @media screen and (max-width:640px) { #prodInfor_style_01_1482460665817 .buyTProSet {font-size:14px;line-height:36px;height:36px;}}
/*----------------------电脑板式样式----------------------*/
#prodInfor_style_01_1482460665817 .proInfoStyle01 .probuy .addcartBtn{
	
}
/*----------------------平板板式样式----------------------*/
@media screen and (min-width:641px) and (max-width:1200px) {
	#prodInfor_style_01_1482460665817{
		
	}
}
/*----------------------手机板式样式----------------------*/
@media screen and (max-width:640px) {
	#prodInfor_style_01_1482460665817 .proInfoStyle01 .probuy .addcartBtn{
	        
        }
}
 #div_a_includeBlock_1578576197386{width:100%;margin-top:30px;}  
  @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578576197386{margin-left:0%;margin-top:20px;width:100%;}}   
  @media screen and (max-width:640px) {#div_a_includeBlock_1578576197386{width:100%;margin-top:10px;margin-left:0%;}} #div_a_includeBlock_1578576197386 > .view_contents{overflow:hidden;}  #div_a_includeBlock_1578576197386  {background:#ffffff;}
   #layout_1496303516196{z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1496303516196{}}   @media screen and (max-width:640px) {#layout_1496303516196{}} #layout_1496303516196 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1496303516196  {background:#eeeeee;}



 #customDetail_style_prodDetail_02_1482461270622{width:90%;left:5%;top:40px;position:absolute;}   @media screen and (min-width:641px) and (max-width:1200px) {#customDetail_style_prodDetail_02_1482461270622{width:96%;left:2%;top:20px;}}   @media screen and (max-width:640px) {#customDetail_style_prodDetail_02_1482461270622{width:90%;left:5%;top:8px;}} 
/*----------------------电脑板式样式----------------------*/
#customDetail_style_prodDetail_02_1482461270622 img{
	width:90%; margin:0 5%;
}
/*----------------------平板板式样式----------------------*/
@media screen and (min-width:641px) and (max-width:1200px) {
	#customDetail_style_prodDetail_02_1482461270622 img{
		width:100%; margin:0%;
	}
}
/*----------------------手机板式样式----------------------*/
@media screen and (max-width:640px) {
	#customDetail_style_prodDetail_02_1482461270622 img{
		width:100%; margin:0%;
	}
}
 #div_a_includeBlock_1578576211586{width:100%;height:70px;padding: 0 0 30px 0;position:absolute;top:0px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578576211586{left:0%;top:0px;height:50px;width:100%;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578576211586{width:100%;height:50px;top:0px;left:0%;}} #div_a_includeBlock_1578576211586 > .view_contents{overflow:hidden;}  #div_a_includeBlock_1578576211586  {background:#ffffff;} #layout_1498112236160{}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1498112236160{}}   @media screen and (max-width:640px) {#layout_1498112236160{}} #layout_1498112236160 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1498112236160  {background:#eeeeee;}



 #customDetail_style_prodPage_01_1578577279806{width:90%;position:absolute;left:5%;top:40px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#customDetail_style_prodPage_01_1578577279806{width:96%;left:2%;top:20px;}}   @media screen and (max-width:640px) {#customDetail_style_prodPage_01_1578577279806{left:5%;top:10px;}}  #customDetail_style_prodPage_01_1578577279806 .zyfenyeSet {background:transparent;color:#ff6766;font-size:14px;} #customDetail_style_prodPage_01_1578577279806 .dangqianSet {font-size:14px;}
 #div_a_includeBlock_1578578830948{width:100%;height:160px;position:absolute;top:0px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578578830948{left:0%;top:0px;height:90px;width:100%;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578578830948{width:96%;height:80px;top:0px;left:2%;}} #div_a_includeBlock_1578578830948 > .view_contents{overflow:hidden;}  #div_a_includeBlock_1578578830948  {background:#ffffff;} #layout_1578577293074{height:160px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1578577293074{height:90px;}}   @media screen and (max-width:640px) {#layout_1578577293074{height:80px;}} #layout_1578577293074 > .view_contents{overflow:visible;max-width:1200px;}  /* #layout_1578577293074  {background:#eeeeee;} */
 #layout_1498113765483{height:30px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1498113765483{height:20px;}}   @media screen and (max-width:640px) {#layout_1498113765483{height:10px;}} #layout_1498113765483 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1498113765483  {background:#eeeeee;}


 

 #text_style_01_1578303148727{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:120px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1578303148727{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1578303148727{width:96%;font-size:12px;color:#333;line-height:1.6;top:238px;left:2%;display:block;}}  #text_style_01_1578303148727>.view_contents {font-size:32px;line-height:38px;color:#ff6766;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1578303148727>.view_contents {font-size:30px;}}

 #text_style_01_1579311980238{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:0px;left:0%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579311980238{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579311980238{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579311980238>.view_contents {font-size:24px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579311980238>.view_contents {font-size:22px;}}

 #text_style_01_1579312014094{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:40px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579312014094{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579312014094{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579312014094>.view_contents {font-size:14px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579312014094>.view_contents {font-size:13px;}}

 #div_blank_new05_1579312181013{width:100%;position:absolute;left:0%;top:75px;z-index:3;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_blank_new05_1579312181013{left:0%;width:100%;}}   @media screen and (max-width:640px) {#div_blank_new05_1579312181013{width:100px;top:0px;left:33.4983498349835%;}}  #div_blank_new05_1579312181013  {box-sizing:border-box;} #div_blank_new05_1579312181013 .roundcs {border-color:#999999;} @media screen and (min-width:641px) and (max-width:1200px) { #div_blank_new05_1579312181013  {box-sizing:border-box;}} @media screen and (max-width:640px) { #div_blank_new05_1579312181013  {box-sizing:border-box;}}

 #text_style_01_1579312229265{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:180px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579312229265{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579312229265{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579312229265>.view_contents {font-size:24px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579312229265>.view_contents {font-size:22px;}}

 #text_style_01_1579312287432{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:220px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579312287432{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579312287432{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:block;}}  #text_style_01_1579312287432>.view_contents {font-size:14px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579312287432>.view_contents {font-size:13px;}}

 #div_blank_new05_1579312334751{width:100%;position:absolute;left:0%;top:255px;z-index:3;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_blank_new05_1579312334751{width:33.003300330033%;}}   @media screen and (max-width:640px) {#div_blank_new05_1579312334751{width:33.003300330033%;top:0px;left:0%;}}  #div_blank_new05_1579312334751  {box-sizing:border-box;} #div_blank_new05_1579312334751 .roundcs {border-color:#999999;} @media screen and (min-width:641px) and (max-width:1200px) { #div_blank_new05_1579312334751  {box-sizing:border-box;}} @media screen and (max-width:640px) { #div_blank_new05_1579312334751  {box-sizing:border-box;}}

 #button_style_04_1579312368696{width:33%;left:0%;top:290px;position:absolute;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#button_style_04_1579312368696{width:33%;}}   @media screen and (max-width:640px) {#button_style_04_1579312368696{display:block;top:0px;width:100%;left:0%;}} #button_style_04_1579312368696 > .view_contents{overflow:visible;}  #button_style_04_1579312368696 .btnaSet {background:transparent;color:#ff6766;border-radius:initial;border-width:1px;border-style:solid;border-color:#ff6766;font-family:Microsoft YaHei;height:32px;} #button_style_04_1579312368696 .btnaSet:hover {background:#ff6766;color:#ffffff;} @media screen and (max-width:640px) { #button_style_04_1579312368696 .btnaSet {font-size:12px;font-family:Microsoft YaHei;border-width:0px;border-radius:40px;height:36px;}}
 #div_a_includeBlock_1578303272572{width:28%;height:352px;position:absolute;top:60px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578303272572{top:30px;left:1%;height:340px;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578303272572{width:100%;height:44px;top:494px;left:0%;display:none;}} 


 #image_style_11_1578303970642{width:92%;position:absolute;left:3.997395833333333%;top:10px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_11_1578303970642{}}   @media screen and (max-width:640px) {#image_style_11_1578303970642{height:157px;top:24px;left:34.873487348734876%;width:30.25302530253025%;}} #image_style_11_1578303970642 > .view_contents{overflow:visible;} 

 #text_default_1579499908478{width:100%;height:40px;position:absolute;top:0px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_default_1579499908478{}}   @media screen and (max-width:640px) {#text_default_1579499908478{width:100%;height:300px;top:181px;left:0%;}} 
 #div_a_includeBlock_1578303924489{width:20%;height:173px;position:absolute;top:60px;left:80%;z-index:9999;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578303924489{top:30px;left:75%;width:24%;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578303924489{width:100%;height:512px;top:787px;left:0%;display:none;}} 


 #text_style_01_1578304240487{width:50%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:105px;left:0%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1578304240487{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1578304240487{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:2%;display:none;}}  #text_style_01_1578304240487>.view_contents {font-size:12px;line-height:28px;color:#ffffff;font-weight:normal;text-align:center;}

 #image_style_01_1578304752776{width:50%;height:100px;position:absolute;left:0%;top:0px;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304752776{left:0%;width:50%;}}   @media screen and (max-width:640px) {#image_style_01_1578304752776{}} #image_style_01_1578304752776 > .view_contents{overflow:visible;} 

 #image_style_01_1578304855901{width:50%;height:100px;position:absolute;left:50%;top:0px;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304855901{}}   @media screen and (max-width:640px) {#image_style_01_1578304855901{}} #image_style_01_1578304855901 > .view_contents{overflow:visible;} 

 #text_style_01_1578304868358{width:50%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:105px;left:50%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1578304868358{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1578304868358{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:0%;display:none;}}  #text_style_01_1578304868358>.view_contents {font-size:12px;line-height:28px;color:#ffffff;font-weight:normal;text-align:center;}
 #div_a_includeBlock_1578304240250{width:20%;height:160px;position:absolute;top:250px;left:80%;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_a_includeBlock_1578304240250{top:200px;left:75%;width:24%;height:170px;}}   @media screen and (max-width:640px) {#div_a_includeBlock_1578304240250{width:100%;height:235px;top:1235px;left:0%;display:none;}} 

 #qqol_style_01_1575620923404{width:17.497348886532343%;position:absolute;top:7px;left:41.25132555673383%;}   @media screen and (min-width:641px) and (max-width:1200px) {#qqol_style_01_1575620923404{top:7px;left:77.00324761399789%;width:17.497348886532343%;}}   @media screen and (max-width:640px) {#qqol_style_01_1575620923404{width:96%;top:0px;left:2%;display:none;}} #qqol_style_01_1575620923404 > .view_contents{overflow:visible;} 


 #text_style_01_1579313117572{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:0px;left:0%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579313117572{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579313117572{width:96%;font-size:12px;color:#333;line-height:1.6;top:0px;left:2%;display:block;}}  #text_style_01_1579313117572>.view_contents {font-size:24px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579313117572>.view_contents {font-size:22px;}}

 #text_style_01_1579313134788{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:40px;left:0%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1579313134788{z-index:3;}}   @media screen and (max-width:640px) {#text_style_01_1579313134788{width:96%;font-size:12px;color:#333;line-height:1.6;top:48px;left:2%;display:block;}}  #text_style_01_1579313134788>.view_contents {font-size:14px;line-height:38px;color:#e5e5e5;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_01_1579313134788>.view_contents {font-size:13px;}}

 #customForm_style_input_01_1579313171983{width:100%;position:absolute;left:0%;top:85px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_input_01_1579313171983{left:0%;width:100%;}}   @media screen and (max-width:640px) {#customForm_style_input_01_1579313171983{width:96%;top:96px;left:2%;}} #customForm_style_input_01_1579313171983 > .view_contents{overflow:visible;}  #customForm_style_input_01_1579313171983 .inputSet {font-size:14px;background:transparent;color:#ffffff;line-height:40px;height:40px;padding-top:10px;padding-bottom:10px;border-radius:2px;padding-left:10px;padding-right:10px;}

 #customForm_style_input_01_1579313485060{width:100%;position:absolute;left:0%;top:145px;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_input_01_1579313485060{width:100%;}}   @media screen and (max-width:640px) {#customForm_style_input_01_1579313485060{width:96%;top:146px;left:2%;}} #customForm_style_input_01_1579313485060 > .view_contents{overflow:visible;}  #customForm_style_input_01_1579313485060 .inputSet {font-size:14px;background:transparent;color:#ffffff;line-height:40px;height:40px;padding-top:10px;padding-bottom:10px;border-radius:2px;padding-left:10px;padding-right:10px;}

 #customForm_style_textarea_01_1579313579008{width:100%;height:62px;position:absolute;left:0%;top:205px;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_textarea_01_1579313579008{left:0%;width:100%;}}   @media screen and (max-width:640px) {#customForm_style_textarea_01_1579313579008{width:96%;height:200px;top:196px;left:2%;}} #customForm_style_textarea_01_1579313579008 > .view_contents{overflow:visible;}  #customForm_style_textarea_01_1579313579008 .inputSet {background:transparent;font-size:14px;color:#ffffff;height:60px;line-height:24px;border-radius:2px;}

 #customForm_style_button_01_1579313750950{width:35%;position:absolute;left:0%;top:288px;}   @media screen and (min-width:641px) and (max-width:1200px) {#customForm_style_button_01_1579313750950{left:0%;width:30%;}}   @media screen and (max-width:640px) {#customForm_style_button_01_1579313750950{width:96%;top:406px;left:2%;}} #customForm_style_button_01_1579313750950 > .view_contents{overflow:visible;}  #customForm_style_button_01_1579313750950 .btnaSet {border-color:#ff6766;background:#ff6766;color:#ffffff;border-radius:2px;}
.prodetail_1{font-size:14px; color:#555; line-height:1.4; text-align:left; padding:.4em 0; width:100%;}
.prodetail_1 img{max-width: 100%;}

.prodetailstyle_1 .mobile{ display:none; }
.prodetailstyle_1 .pc{ display:block; }
.prodetailstyle_1 .collage_bt{ font-size:20px; line-height:3; }
.prodetailstyle_1 .itembox{ background:#eee; padding:10px 20px; border-bottom:1px solid #e5e5e5; overflow:hidden; font-size:16px; display:flex; justify-content: space-between; flex-wrap: wrap;}
.prodetailstyle_1 .user_img{ width:50px; height:50px; border-radius:200px; overflow:hidden; }
.prodetailstyle_1 .user_img img{ width:100% !important; height:100%; margin:0 !important;}
.prodetailstyle_1 .itembox>div{ line-height:50px; margin:0 5px;}
.prodetailstyle_1 .initiator_name.pc{ width:100px; text-align:center; }
.prodetailstyle_1 .join_list_ul{ overflow:hidden; }
.prodetailstyle_1 .join_list_ul li{float:left; box-sizing: border-box; -webkit-box-sizing: border-box; margin:0 5px;}
.prodetailstyle_1 .surplus_value{ color:red; }
.prodetailstyle_1 .join_btn{ background:rgb(239,91,81); margin:13px 0; color:white; line-height:1; border-radius: 20px; padding:4px 20px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.prodetailstyle_1 .join_btn:hover{ cursor:pointer; }

.proListShow{ box-sizing: border-box; margin-top: 30px;}
.proListShow h2{ display: block; border-left: 4px solid #e85342; font-size: 18px; line-height: 1; padding: 0 10px; box-sizing: border-box; margin-bottom: 20px;}
.proListShow .listUl{ border: 1px solid #f5f5f5; padding: 10px; display: flex; justify-content: space-between; flex-wrap: wrap; box-sizing: border-box;}
.proListShow .listLi{ width: calc(96%/4);}
.proListShow .listLi .imgDiv{  position: relative; padding-bottom: 100%; overflow: hidden;}
.proListShow .imgDiv img{ transition: transform .3s; width: 100%; position: absolute; left: 50%; top: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%);}
.proListShow .titleDiv{ text-align: center; color: #333; font-size: 16px; line-height: 1.5; margin-top: 10px;}

.prodetail_1 .selectTdClass{background-color:#edf5fa !important}
.prodetail_1 table.noBorderTable td,
.prodetail_1 table.noBorderTable th,
.prodetail_1 table.noBorderTable caption{border:1px dashed #ddd !important}
.prodetail_1 table{margin-bottom:10px;border-collapse:collapse;display:table;}
.prodetail_1 td,.proListShow th{padding: 5px 10px;border: 1px solid #DDD;}
.prodetail_1 caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center;}
.prodetail_1 th{border-top:1px solid #BBB;background-color:#F7F7F7;}
.prodetail_1 table tr.firstRow th{border-top-width:2px;}
.prodetail_1 .ue-table-interlace-color-single{ background-color: #fcfcfc; } 
.prodetail_1 .ue-table-interlace-color-double{ background-color: #f7faff; }
.prodetail_1 td p{margin:0;padding:0;}
@media screen and (min-width:641px){
	.proListShow .listLi:hover .imgDiv img{ transform: translateX(-50%) scale(1.1); -webkit-transform: translateX(-50%) scale(1.1); -moz-transform: translateX(-50%) scale(1.1); -o-transform: translateX(-50%) scale(1.1);}
}
@media screen and (max-width:640px){
	.prodetailstyle_1 .collage_bt{ font-size:14px; }
	.prodetailstyle_1 .itembox .more_img{ margin-right:10px; }
	.prodetailstyle_1 .user_img{ width:30px; height:30px; }
	.prodetailstyle_1 .empty_img{ width:30px; height:30px; margin-left:-20px; border:1px dotted #e5e5e5; background:white; border-radius:200px; float:right;}
	.prodetailstyle_1 .more_img .hav_img{ float:left; }
	.prodetailstyle_1 .itembox{ font-size:12px; padding:10px; display:block;}
	.prodetailstyle_1 .itembox>div{ line-height:30px; margin:0; float:left; position:relative;}
	.prodetailstyle_1 .itembox .join_button{ float:right; margin:5px 0;}
	.prodetailstyle_1 .join_btn{ padding:0 20px; line-height:2; margin:0; line-height:unset;}
	.prodetailstyle_1 .pc{ display:none; }
	.prodetailstyle_1 .mobile{ display:block; }
	.prodetailstyle_1 .initiator_name.mobile>span{ line-height:1.5; display:block; }

	.proListShow h2{ font-size: 16px;}
	.proListShow .listLi{ width: calc( 96%/2 ); margin-bottom: 15px;}
	.proListShow .titleDiv{ font-size: 14px;}
}
@media screen and (max-width:767px){
.prodetail_1{font-size:12px; }
.prodetail_1 img{width:100% !important; height:auto !important;}
}




	#image_style_01_1589421417719 .CompatibleImg img{width:100%; height:auto; margin-left:0px}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1589421417719 .CompatibleImg img{width:100%; height:auto; margin-left:0px}}@media screen and (max-width:640px) {#image_style_01_1589421417719 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1589421417719 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
/*banner样式*/
.bannerStyle_1{width:100%; height:100%; position:relative;}
.bannerStyle_1 .main_visual{height:100%; overflow:hidden; position:relative; }
.bannerStyle_1 .main_image{height:100%; overflow:hidden; position:relative; }
.bannerStyle_1 .main_image ul{width:100%; height:100%; overflow:hidden; position:absolute; top:0; left:0}
.bannerStyle_1 .main_image li{float:left; width:100%; height:100%; }
.bannerStyle_1 .main_image li span{display:block; width:100%; height:100%; background-size:cover !important;background-position: 50% 50%!important;}
.bannerStyle_1 .main_image li a{display:block; width:100%; height:100%}
.bannerStyle_1 .main_image li .img_1{background:url(../img/prodPic/style_01/img.jpg) center top no-repeat}
.bannerStyle_1 .main_image li .img_2{background:url(../img/prodPic/style_01/img.jpg) center top no-repeat}
.bannerStyle_1 .main_image li .img_3{background:url(../img/prodPic/style_01/img.jpg) center top no-repeat}
.bannerStyle_1 .main_image li .img_4{background:url(../img/prodPic/style_01/img.jpg) center top no-repeat}


.bannerStyle_1 div.flicking_con{position:absolute; bottom:20px; left:0; z-index:999; width:100%; height:14px; text-align:center; }
.bannerStyle_1 div.flicking_con a{width:14px; height:14px; padding:0; background:#ccc; display:inline-block; box-sizing:border-box; margin:0 3px; border-radius:100%; }
.bannerStyle_1 div.flicking_con a.on{background:none; border:1px solid #149DEC;}
.bannerStyle_1 #btn_prev,.bannerStyle_1 #btn_next{z-index:11111; position:absolute; display:block; width:73px!important; height:74px!important; top:50%; margin-top:-37px; display:none; }
.bannerStyle_1 #btn_prev{background:url(../img/prodPic/style_01/hover_left.png) no-repeat left top; left:20px; }
.bannerStyle_1 #btn_next{background:url(../img/prodPic/style_01/hover_right.png) no-repeat right top; right:20px; }.proInfoStyle04{position: relative;overflow: hidden;font-family: "Microsoft YaHei";}
.proInfoStyle04 .proInfo_title .prodName{margin:0;color: #000;font-size: 32px;font-weight: normal;border-bottom: 1px solid #dbdbdb;line-height:1.4;padding: 15px 0;}
.proInfoStyle04 .proInfo_title .proBrief{color: #333;font-size: 16px;margin: 15px 0;}
.proInfoStyle04 .proInfo_parameter p,.proInfoStyle04 .proInfo_prop p{color: #222;font-size: 16px;line-height:35px;}
.proInfoStyle04 .probuy{padding:35px 0 10px 0;margin-top: 15px;clear: both;}
.proInfoStyle04 .probuy .Consultation{border: 0;background: transparent;border-radius:4px;font-size: 20px;font-family: "Microsoft YaHei";cursor: pointer;}
.proInfoStyle04 .probuy .btn1{width:40%;line-height:50px;margin-right: 10px;background: #ef001d;color:#fff;}
.proInfoStyle04 .probuy .btn2{width: 30%;line-height: 50px;border: 1px solid #ef001d;color: #ef001d;}
.proInfoStyle04 .other-link ul{width: 100%;}
.proInfoStyle04 .other-link ul li{float: left;margin-right: 10px;line-height: 35px;cursor: pointer;}
.proInfoStyle04 .other-link ul li:nth-of-type(1) i{background: url(../img/prodInfor/style_04/scBg.png) no-repeat center;background-size: 100%;padding:8px;margin-right: 10px;}
.proInfoStyle04 .other-link ul li:nth-of-type(2) i{background: url(../img/prodInfor/style_04/shareBg.png) no-repeat center;background-size: 100%;padding:10px;margin-right: 10px;}
.proInfoStyle04 .proInfo_prop .prop.insidediv.sys_item_specpara{width: 100%;overflow: hidden;}
.proInfoStyle04 .proInfo_prop .prop_Ttile{float: left;height: 40px;line-height: 40px;margin-right: 10px;color: #888;}
.proInfoStyle04 .proInfo_prop .sys_spec_text{width:75%;float: left;}
.proInfoStyle04 .proInfo_prop .sys_spec_text li{float: left;padding: 0 2%;height: 40px;line-height: 40px;}
.proInfoStyle04 .proInfo_prop .colorimg li span{display: block;width: 20px;height: 15px;margin-top: 12.5px;border: 1px solid #eee;}
.proInfoStyle04 .proInfo_prop .colorimg li span:hover{display: block;width: 20px;height: 15px;margin-top: 12.5px;border: 1px solid red;}
.proInfoStyle04 .proInfo_prop .prop li.selected a span{color: #F40;border: 1px solid #F40;}

@media screen and  (max-width: 481px){
    .proInfoStyle04 .proInfo_title .prodName{font-size: 18px;}
    .proInfoStyle04 .proInfo_title .proBrief{font-size: 14px;}
    .proInfoStyle04 .probuy .btn1{width: 100%;line-height: 40px;font-size: 16px;}
    .proInfoStyle04{padding: 10px;}
}.prodetail_1{font-size:14px; color:#555; line-height:1.4; text-align:left; padding:.4em 0; width:100%;}
.prodetail_1 img{max-width: 100%;}

.prodetailstyle_1 .mobile{ display:none; }
.prodetailstyle_1 .pc{ display:block; }
.prodetailstyle_1 .collage_bt{ font-size:20px; line-height:3; }
.prodetailstyle_1 .itembox{ background:#eee; padding:10px 20px; border-bottom:1px solid #e5e5e5; overflow:hidden; font-size:16px; display:flex; justify-content: space-between; flex-wrap: wrap;}
.prodetailstyle_1 .user_img{ width:50px; height:50px; border-radius:200px; overflow:hidden; }
.prodetailstyle_1 .user_img img{ width:100% !important; height:100%; margin:0 !important;}
.prodetailstyle_1 .itembox>div{ line-height:50px; margin:0 5px;}
.prodetailstyle_1 .initiator_name.pc{ width:100px; text-align:center; }
.prodetailstyle_1 .join_list_ul{ overflow:hidden; }
.prodetailstyle_1 .join_list_ul li{float:left; box-sizing: border-box; -webkit-box-sizing: border-box; margin:0 5px;}
.prodetailstyle_1 .surplus_value{ color:red; }
.prodetailstyle_1 .join_btn{ background:rgb(239,91,81); margin:13px 0; color:white; line-height:1; border-radius: 20px; padding:4px 20px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.prodetailstyle_1 .join_btn:hover{ cursor:pointer; }

.proListShow{ box-sizing: border-box; margin-top: 30px;}
.proListShow h2{ display: block; border-left: 4px solid #e85342; font-size: 18px; line-height: 1; padding: 0 10px; box-sizing: border-box; margin-bottom: 20px;}
.proListShow .listUl{ border: 1px solid #f5f5f5; padding: 10px; display: flex; justify-content: space-between; flex-wrap: wrap; box-sizing: border-box;}
.proListShow .listLi{ width: calc(96%/4);}
.proListShow .listLi .imgDiv{  position: relative; padding-bottom: 100%; overflow: hidden;}
.proListShow .imgDiv img{ transition: transform .3s; width: 100%; position: absolute; left: 50%; top: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%);}
.proListShow .titleDiv{ text-align: center; color: #333; font-size: 16px; line-height: 1.5; margin-top: 10px;}

.prodetail_1 .selectTdClass{background-color:#edf5fa !important}
.prodetail_1 table.noBorderTable td,
.prodetail_1 table.noBorderTable th,
.prodetail_1 table.noBorderTable caption{border:1px dashed #ddd !important}
.prodetail_1 table{margin-bottom:10px;border-collapse:collapse;display:table;}
.prodetail_1 td,.proListShow th{padding: 5px 10px;border: 1px solid #DDD;}
.prodetail_1 caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center;}
.prodetail_1 th{border-top:1px solid #BBB;background-color:#F7F7F7;}
.prodetail_1 table tr.firstRow th{border-top-width:2px;}
.prodetail_1 .ue-table-interlace-color-single{ background-color: #fcfcfc; } 
.prodetail_1 .ue-table-interlace-color-double{ background-color: #f7faff; }
.prodetail_1 td p{margin:0;padding:0;}
@media screen and (min-width:641px){
	.proListShow .listLi:hover .imgDiv img{ transform: translateX(-50%) scale(1.1); -webkit-transform: translateX(-50%) scale(1.1); -moz-transform: translateX(-50%) scale(1.1); -o-transform: translateX(-50%) scale(1.1);}
}
@media screen and (max-width:640px){
	.prodetailstyle_1 .collage_bt{ font-size:14px; }
	.prodetailstyle_1 .itembox .more_img{ margin-right:10px; }
	.prodetailstyle_1 .user_img{ width:30px; height:30px; }
	.prodetailstyle_1 .empty_img{ width:30px; height:30px; margin-left:-20px; border:1px dotted #e5e5e5; background:white; border-radius:200px; float:right;}
	.prodetailstyle_1 .more_img .hav_img{ float:left; }
	.prodetailstyle_1 .itembox{ font-size:12px; padding:10px; display:block;}
	.prodetailstyle_1 .itembox>div{ line-height:30px; margin:0; float:left; position:relative;}
	.prodetailstyle_1 .itembox .join_button{ float:right; margin:5px 0;}
	.prodetailstyle_1 .join_btn{ padding:0 20px; line-height:2; margin:0; line-height:unset;}
	.prodetailstyle_1 .pc{ display:none; }
	.prodetailstyle_1 .mobile{ display:block; }
	.prodetailstyle_1 .initiator_name.mobile>span{ line-height:1.5; display:block; }

	.proListShow h2{ font-size: 16px;}
	.proListShow .listLi{ width: calc( 96%/2 ); margin-bottom: 15px;}
	.proListShow .titleDiv{ font-size: 14px;}
}
@media screen and (max-width:767px){
.prodetail_1{font-size:12px; }
.prodetail_1 img{width:100% !important; height:auto !important;}
}


#customDetail_style_prodDetail_02_1482461270622{height:auto;}


#customDetail_style_prodDetail_02_1482461270622 .view_contents{ display:block !important; }

@media screen and (max-width:767px){
#customDetail_style_prodDetail_02_1482461270622 #proDetailContent div,#proDetailContent p,#proDetailContent a,#proDetailContent span, #proDetailContent table { width:100% !important; } }


    #customDetail_style_prodDetail_02_1482461270622 .imgDiv{ padding-bottom: 67%;}
/*产品购买样式*/
.Divz{border:1px solid rgb(229,229,229);height:40px;line-height: 40px;}
.probuy_1{position:relative;width:100%; height:100%;}
.probuy_1 input{float: left; width: calc((100% - 10px)/2); margin-right: 10px; height: 40px; border-radius: 0; background-color: #ffeded; border: 1px solid #c40000; color: #c40000; font-family: 'Microsoft Yahei'; font-size: 16px; text-align: center;}
.probuy_1 .addcartBtn{ box-sizing: border-box; margin-right: 0; background-color: #c40000; background-image: url(../img/customDetail/style_prodPage_01/gouwuche.png); background-position-x: calc(50% - 50px); background-position-y: center; background-size: 19px; background-repeat: no-repeat;  background-attachment: initial; background-origin: initial; background-clip: initial; border: 1px solid #c40000; color: #fff; text-indent: 20px;}
@media screen and (max-width:320px){
    .probuy_1 input{font-size:12px; height:26px;}
}

.dqsp{width: 33.33%;background-color: rgb(239,239,239);height: 100%;text-align: center;float: left;}
.fybnt{width: 33.33%;height:100%;text-align: center;}
.btn_prev{float: left;}
.btn_next{float: left;}
.blank_new05.blank_area {
  width:100%;
	padding-top: 10px;padding-bottom: 10px;
}
.blank_new05 .roundcs {
  position: relative;
	
	border-bottom: none!important;
	border-right: none!important;
	border-left: none!important;
	border:1px solid #1badf8;
}
	.blank_new05.blank_area {
  width:100%;
	padding-top: 10px;padding-bottom: 10px;
}
.blank_new05 .roundcs {
  position: relative;
	
	border-bottom: none!important;
	border-right: none!important;
	border-left: none!important;
	border:1px solid #1badf8;
}
	.button_default04 { width: 100%; height:40px; background: #ffd9e4; color: #000;border-width: 0px; box-sizing: border-box; border-radius: 40px; font-size: 14px; cursor: pointer; transition: all ease-in .1s; -webkit-transition: all ease-in .1s; -moz-transition: all ease-in .1s; -o-transition: all ease-in .1s; }
	#button_style_04_1579312368696 .button_default .buttonImg {width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}@media screen and (min-width:641px) and (max-width:1200px) {#button_style_04_1579312368696 .button_default .buttonImg {width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}@media screen and (max-width:640px) {#button_style_04_1579312368696 .button_default .buttonImg {width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}.imgStyle_11{position:relative; clear: both; width: 100%; height: 100%;}
.imgStyle_11 ul{width: 100%; display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:wrap; justify-content:space-between;}
.imgStyle_11 ul li.imgItems{position: relative; overflow: hidden !important; width: 19%; box-sizing:border-box; margin-bottom:10px;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
	}
.imgStyle_11 ul li .ratio{margin-top: 100%;}
.imgStyle_11 ul li a{}
.imgStyle_11 ul li:hover{z-index: 2; transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1);}
.imgStyle_11 ul li a img{position: absolute; width: auto; height: 100%; top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}


.imgStyle_11 .theimgtext{height:30px;line-height: 30px;font-size: 14px;color:black;width:100%;text-align: center;}
.imgStyle_11 .theimgdiv{position:absolute;width:100%;height:100%;height:100%;background-repeat: no-repeat !important;background-position-x: 50% !important;background-position-y: 50% !important;background-size: auto 100% !important;}

.imgShowBox{position: fixed; z-index: 9999; background-color: rgba(0, 0, 0, 0.4); top: 0; left: 0; width: 100%; height: 100%;}
.imgShowBox img{ position: absolute; width: auto; max-width: 80%; border: 20px solid #fff;top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); box-shadow: 0 0 10px rgba(0,0,0,.3);}
.imgShowBox.scroll{overflow-y:scroll;overflow-x:hidden;}
.imgShowBox.scroll::-webkit-scrollbar {width: 6px; height: 6px; background: rgba(0,0,0,.05);}
.imgShowBox.scroll::-webkit-scrollbar{width: 6px; height: 6px; background: rgba(0,0,0,.02);}
.imgShowBox.scroll::-webkit-scrollbar-button{background: #f7f7f7; height: 0;}
.imgShowBox.scroll::-webkit-scrollbar-corner{background: rgba(0,0,0,.05);}
.imgShowBox.scroll::-webkit-scrollbar-thumb{background: rgba(255,255,255,.7); border-radius: 3px;}

.imgShowBox.scroll img{top:5%; margin-bottom: 5%; transform: translate(-50%,0%); -webkit-transform: translate(-50%,0%); -moz-transform: translate(-50%,0%); -o-transform: translate(-50%,0%);}
.pos_fixed{position: fixed; width: 100%;}
.imgButton{position: fixed; width: 70%; max-width: 400px; bottom: 15%; left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:nowrap; justify-content:space-between; align-items:center;}
.imgButton span{display: inline-block; cursor:pointer; box-shadow: 0 0 6px rgba(0,0,0,.2);
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
.imgButton span:hover{opacity: .8;}
.imgButton span i{font-size: inherit; line-height: inherit; color:inherit;}
.imgButton span.prevImg, .imgButton span.nextImg, .imgButton span.closeShowPic{ font-size: 40px; width: 50px; height:50px; line-height: 50px;  border-radius: 100%;font-family: serif; background-color: #fff; text-align: center; box-sizing: border-box;}
.imgButton span.prevImg, .imgButton span.nextImg{font-size: 26px; width: 40px; height: 40px; line-height: 40px; text-align: center;}
@media screen and (max-width: 1024px){.imgStyle_11 ul li{width: 24%;}}
@media screen and (max-width: 768px){
	.imgStyle_11 ul li{width: 49%;}
	.imgShowBox img{border-width: 10px;}
	.imgShowBox.scroll img{top:5%; margin-bottom: 10vh;}
}



/*pc*/
#image_style_11_1578303970642  ul li{width: 47.5%;}
#image_style_11_1578303970642  ul li.imgItems{margin-bottom:5%;}
@media screen and (max-width: 1024px){/*ipad*/
	#image_style_11_1578303970642  ul li{width: 49%;}
	#image_style_11_1578303970642  ul li.imgItems{margin-bottom:2%;}
}
@media screen and (max-width: 768px){/*mobi*/
	#image_style_11_1578303970642  ul li{width: 49%;}
	#image_style_11_1578303970642  ul li.imgItems{margin-bottom:2%;}
}

	#image_style_01_1578304752776 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304752776 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}@media screen and (max-width:640px) {#image_style_01_1578304752776 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1578304752776 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1578304855901 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1578304855901 .CompatibleImg img{width:auto; height:100%; position:relative; top:0; left:50%;-webkit-transform:translate(-50%,0);-o-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);}}@media screen and (max-width:640px) {#image_style_01_1578304855901 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1578304855901 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

/* 清除浮动 */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}

.online-service-style01{ display:none }
.online-service .wrapper{ padding:5px 0; background-color:#fff }
.online-service .close,.online-service .button{
    -webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;
}
.online-service.right .button div{ text-align:right; padding-right:5px }
.online-service.left .button div{ text-align:left; padding-left:5px }
.online-service .header, .online-service .footer{
    height:25px; line-height:25px;
    padding:0 .5em;
}
.online-service .header{ border-bottom:1px solid #eee }
.online-service .footer{ border-top:1px solid #eee; font-size:12px }
.online-service.right .footer{ text-align:right }
.online-service.left .footer{ text-align:left }
.online-service .content{ padding:.5em 1em }

.ol-qq-online .qq-btn{ float:left; margin-right:.5em }
.ol-qq-online .qq-btn img{ float:left }
.ol-qq-online{ line-height:25px }

.ol-image img{ width:100% }

			