<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
<link
	href="${base}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" />
<link
	href="${base}/assets/global/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link
	href="${base}/assets/global/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="${base}/assets/global/plugins/uniform/css/uniform.default.css"
	rel="stylesheet" />
<link href="${base}/assets/global/css/components.css" rel="stylesheet" />
<link href="${base}/assets/admin/pages/css/error.css" rel="stylesheet"
	type="text/css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-500-full-page">
	<div class="row">
		<div class="col-md-12 page-500">
			<div class=" number">Sorry</div>
			<div class=" details">
				<h3>您的设备被限制访问，请联系管理员</h3>
				<p>
					<span id="second">5</span> 秒后返回<br /> 或<a id="logoutbtn" href="logout.html?service=http://${localhost}${base}/index.html">点此返回</a><br /> <br />
				</p>
			</div>
		</div>
	</div>
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="${base}/assets/global/plugins/jquery.min.js"	type="text/javascript"></script>
	<script>
		function secondlogout(){
			var second = Number($("#second").text());
			if(second==0||second<0){
				window.location.href = $("#logoutbtn").attr("href");
			}else{
				$("#second").text(second-1);
				setTimeout(secondlogout, 1000);
			}
		};
		setTimeout(secondlogout, 1000);
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
