<!DOCTYPE html>
<html lang="zh-CN">
<!-- BEGIN HEAD -->
<head>
<#include "/include/globalstyle.html" />
<link rel="stylesheet" href="${base}/assets/admin/plugins/jstree/dist/themes/default/style.min.css"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body
	class="page-header-fixed page-quick-sidebar-over-content page-style-square">
	<!-- BEGIN HEADER -->
	<#include "/include/header.html" />
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper"><#include
			"/include/sidebar.html" /></div>
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
					模块管理<small></small>
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="fa fa-home"></i> <a href="index.html">首页</a> <i
							class="fa fa-angle-right"></i></li>
						<li><a href="javascript:;">系统管理</a><i class="fa fa-angle-right"></i></li>
						<li><a href="javascript:;">模块管理</a></li>
					</ul>
					<div class="page-toolbar"></div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN DASHBOARD STATS -->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN VALIDATION STATES-->
						<div class="portlet box grey-gallery" id="form_wizard_1">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-edit"></i>
								</div>
							</div>
							<div class="portlet-body form">
								<!-- BEGIN FORM-->
								<form action="savemodule.do" method="post" id="moduleform"
									class="form-horizontal">
									<div style="display: none">
										<input type="hidden" name="moduleId" id="moduleId"
											value="${module.moduleId!}" />	
										<input type="hidden" name="appId" id="appId" value="${appId!}" />									
									</div>
									<div class="form-body">
										<div class="form-group">
											<label class="control-label col-md-3">模块名称<span
												class="required"> * </span>
											</label>
											<div class="col-md-4">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="moduleName" id="moduleName" value="${module.moduleName!}" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">上级模块
											</label>
											<div class="col-md-4">
											    <select class="form-control tree3" name="moduleParent" id="moduleParent">
													<option value="0" data-pid="-1">模块名称</option>
													<#list mlist as option>
													<#if option.moduleId== module.moduleParent!0 >
														<option value="${option.moduleId}" data-pid="${option.moduleParent}" selected="selected">${option.moduleName}</option>
													<#else>
														<option value="${option.moduleId}" data-pid="${option.moduleParent}">${option.moduleName}</option>
													</#if>
													</#list>
												</select>
											</div>
										</div>										
										<div class="form-group">
											<label class="control-label col-md-3">模块编码 </label>
											<div class="col-md-4">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="moduleCode" id="moduleCode" value="${module.moduleCode!}" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">链接路径 </label>
											<div class="col-md-4">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="modulePath" id="modulePath" value="${module.modulePath!}" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">图标样式 </label>
											<div class="col-md-4">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="moduleClass" id="moduleClass" value="${module.moduleClass!}" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">功能描述 </label>
											<div class="col-md-4">
												<div class="input-icon right">
													<i class="fa"></i> <input type="text" class="form-control"
														name="moduleDescription" id="moduleDescription" value="${module.moduleDescription!}" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">排序 </label>
											<div class="col-md-4">
												<div id="spinner1">
													<div class="input-group input-small">													  
													      <input type="text" class="spinner-input form-control" maxlength="3" 
														   name="moduleSort" id="moduleSort" value="${module.moduleSort!}"/>														
														<div class="spinner-buttons input-group-btn btn-group-vertical">
															<button type="button" class="btn spinner-up btn-xs blue">
															<i class="fa fa-angle-up"></i>
															</button>
															<button type="button" class="btn spinner-down btn-xs blue">
															<i class="fa fa-angle-down"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3">禁用</label>
											<div class="col-md-7">
												<div class="radio-list">
													<#if (module.moduleIsdisable!0)==1 > <label class="radio-inline">
														<input type="radio" name="moduleIsdisable" value=1 checked>是
													</label> <label class="radio-inline" style="margin-left: 23px;">
														<input type="radio" name="moduleIsdisable" value=0>否
													</label> <#else> <label class="radio-inline"> <input
														type="radio" name="moduleIsdisable" value=1>是
													</label> <label class="radio-inline" style="margin-left: 23px;">
														<input type="radio" name="moduleIsdisable" value=0 checked>否
													</label> </#if>
												</div>
											</div>
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-3 col-md-9">
												<button type="submit" class="btn blue button-submit">保存</button>
												<button type="button" class="btn default">取消</button>
											</div>
										</div>
									</div>
								</form>
								<!-- END FORM-->
							</div>
						</div>
						<!-- END VALIDATION STATES-->
					</div>
				</div>
				<!-- END DASHBOARD STATS -->
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<#include "/include/footer.html" />
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<#include "/include/globalscript.html" />
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script type="text/javascript" src="${base}/assets/admin/plugins/fuelux/js/spinner.min.js"></script>
	<script type="text/javascript"
		src="${base}/assets/admin/plugins/jquery-validation/js/jquery.validate.js"></script>
	<script type="text/javascript"
		src="${base}/assets/admin/plugins/jquery-validation/js/additional-methods.js"></script>
	<script type="text/javascript"
		src="${base}/assets/admin/plugins/jquery-validation/js/localization/messages_zh.js"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script type="text/javascript" src="${base}/assets/admin/plugins/jstree/dist/jstree.js"></script>
	<script type="text/javascript" src="${base}/assets/admin/plugins/sxhaloJQfn.js"></script>
	<script>
		$(document).ready(function() {
			Metronic.init(); // init metronic core componets
			Layout.init(); // init layout
			addValidation();
			$(".tree3").treeSelect("pid",-1);			
			$(".btn.default").click(function(){
				history.back();
			});
			$('#spinner1').spinner({min: 0, max: 99});	
			/*		
			if($("#Parent1").val()!=""){			  
			  $("#moduleParent").val($("#Parent1").val());			
			}			
			if($("#Parent1").val() == undefined){			  
			  $("#moduleParent").val(0);			
			}*/	
		});
		
		var addValidation = function() {
			var form1 = $('#moduleform');
			form1.validate({
				errorElement : 'span', //default input error message container
				errorClass : 'help-block help-block-error', // default input error message class
				focusInvalid : false, // do not focus the last invalid input
				ignore : "", // validate all fields including form hidden input
				rules : {
					moduleName : {
						minlength : 2,
						maxlength : 50,
						required : true
					},
					moduleDescription : {
						maxlength : 150
					},
					moduleParent : {
						notEqualTo : ""
					},
					moduleSort : {
						required : true,
						digits : true
					}
				},
				messages : {
					moduleParent : {
						notEqualTo : "上级模块不能相同!"
					}
				},

				errorPlacement : function(error, element) { // render error placement for each input type
					if (element.parent(".input-group").size() > 0) {
						error.insertAfter(element.parent(".input-group"));
					} else {
						error.insertAfter(element); // for other inputs, just perform default behavior
					}
				},
					
				invalidHandler : function(event, validator) { //display error alert on form submit              

				},

				highlight : function(element) { // hightlight error inputs
					$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
				},

				unhighlight : function(element) { // revert the change done by hightlight
					$(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
				},

				success : function(label) {
					label.closest('.form-group').removeClass('has-error'); // set success class to the control group
				}
			});
			
			$('#form_wizard_1 .button-submit').click(function() {
				if (form1.valid() == true) {
					form1.get(0).submit();
					$(this).attr('disabled','disabled').off('click');
				}
			});

		};
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
