<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxhalo.lmb.mapper.UserQuickOrderDriverMapper" >
  <resultMap id="BaseResultMap" type="com.sxhalo.lmb.domain.UserQuickOrderDriver" >
    <id column="driver_code" property="driverCode" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="plate_number" property="plateNumber" jdbcType="VARCHAR" />
    <result column="driver_real_name" property="driverRealName" jdbcType="VARCHAR" />
    <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="coal_sales_id" property="coalSalesId" jdbcType="INTEGER" />
    <result column="coal_sales_user" property="coalSalesUser" jdbcType="INTEGER" />
    <result column="mine_mouth_id" property="mineMouthId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    driver_code, order_number, create_time, creator, plate_number, driver_real_name, 
    driver_phone, user_id, coal_sales_id, coal_sales_user, mine_mouth_id, remark, update_time, 
    delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_quick_order_driver
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_quick_order_driver
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sxhalo.lmb.domain.UserQuickOrderDriver" >
    insert into user_quick_order_driver (driver_code, order_number, create_time, 
      creator, plate_number, driver_real_name, 
      driver_phone, user_id, coal_sales_id, 
      coal_sales_user, mine_mouth_id, remark, 
      update_time, delete_flag)
    values (#{driverCode,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=INTEGER}, #{plateNumber,jdbcType=VARCHAR}, #{driverRealName,jdbcType=VARCHAR}, 
      #{driverPhone,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{coalSalesId,jdbcType=INTEGER}, 
      #{coalSalesUser,jdbcType=INTEGER}, #{mineMouthId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sxhalo.lmb.domain.UserQuickOrderDriver" >
    insert into user_quick_order_driver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="driverCode != null" >
        driver_code,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="plateNumber != null" >
        plate_number,
      </if>
      <if test="driverRealName != null" >
        driver_real_name,
      </if>
      <if test="driverPhone != null" >
        driver_phone,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="coalSalesId != null" >
        coal_sales_id,
      </if>
      <if test="coalSalesUser != null" >
        coal_sales_user,
      </if>
      <if test="mineMouthId != null" >
        mine_mouth_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="driverCode != null" >
        #{driverCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="plateNumber != null" >
        #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="driverRealName != null" >
        #{driverRealName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="coalSalesId != null" >
        #{coalSalesId,jdbcType=INTEGER},
      </if>
      <if test="coalSalesUser != null" >
        #{coalSalesUser,jdbcType=INTEGER},
      </if>
      <if test="mineMouthId != null" >
        #{mineMouthId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxhalo.lmb.domain.UserQuickOrderDriver" >
    update user_quick_order_driver
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="plateNumber != null" >
        plate_number = #{plateNumber,jdbcType=VARCHAR},
      </if>
      <if test="driverRealName != null" >
        driver_real_name = #{driverRealName,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="coalSalesId != null" >
        coal_sales_id = #{coalSalesId,jdbcType=INTEGER},
      </if>
      <if test="coalSalesUser != null" >
        coal_sales_user = #{coalSalesUser,jdbcType=INTEGER},
      </if>
      <if test="mineMouthId != null" >
        mine_mouth_id = #{mineMouthId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxhalo.lmb.domain.UserQuickOrderDriver" >
    update user_quick_order_driver
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      plate_number = #{plateNumber,jdbcType=VARCHAR},
      driver_real_name = #{driverRealName,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      coal_sales_id = #{coalSalesId,jdbcType=INTEGER},
      coal_sales_user = #{coalSalesUser,jdbcType=INTEGER},
      mine_mouth_id = #{mineMouthId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where driver_code = #{driverCode,jdbcType=VARCHAR}
  </update>
  
  <select id="selectListByOrder" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select 
      a.*,ifnull(b.real_name,nickname)nickname,b.user_mobile
     from user_quick_order_driver a LEFT JOIN  user_info b on a.creator=b.user_id
     where order_number = #{orderNumber,jdbcType=VARCHAR}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from user_quick_order_driver
    <if test="where != null and where != ''" >
      where ${where}
    </if>      
  </select>
  <select id="findWhereList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_quick_order_driver
    <if test="where != null and where != ''" >
      where ${where}
    </if> 
    <if test="order != null and order != ''" >
      order by ${order}
    </if>     
  </select>
</mapper>