<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxhalo.lmb.mapper.UserCoalSalesAuthRecordMapper" >
  <resultMap id="BaseResultMap" type="com.sxhalo.lmb.domain.UserCoalSalesAuthRecord" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="coal_sales_name" property="coalSalesName" jdbcType="VARCHAR" />
    <result column="region_code" property="regionCode" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="coal_sale_pic_code" property="coalSalePicCode" jdbcType="VARCHAR" />
    <result column="coal_sale_pic_code1" property="coalSalePicCode1" jdbcType="VARCHAR" />
    <result column="coal_sale_pic_code2" property="coalSalePicCode2" jdbcType="VARCHAR" />
    <result column="coal_sale_pic_code3" property="coalSalePicCode3" jdbcType="VARCHAR" />
    <result column="business_license_pic_code" property="businessLicensePicCode" jdbcType="VARCHAR" />
    <result column="auth_state" property="authState" jdbcType="INTEGER" />
    <result column="verifier" property="verifier" jdbcType="INTEGER" />
    <result column="verify_time" property="verifyTime" jdbcType="TIMESTAMP" />
    <result column="verify_memo" property="verifyMemo" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="coal_sales_id" property="coalSalesId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, create_time, real_name, coal_sales_name, region_code, address, longitude, 
    latitude, coal_sale_pic_code, coal_sale_pic_code1, coal_sale_pic_code2, coal_sale_pic_code3, 
    business_license_pic_code, auth_state, verifier, verify_time, verify_memo, remark, 
    coal_sales_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sxhalo.lmb.domain.UserCoalSalesAuthRecordKey" >
    select 
    <include refid="Base_Column_List" />
    from user_coal_sales_auth_record
    where user_id = #{userId,jdbcType=INTEGER}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sxhalo.lmb.domain.UserCoalSalesAuthRecordKey" >
    delete from user_coal_sales_auth_record
    where user_id = #{userId,jdbcType=INTEGER}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.sxhalo.lmb.domain.UserCoalSalesAuthRecord" >
    insert into user_coal_sales_auth_record (user_id, create_time, real_name, 
      coal_sales_name, region_code, address, 
      longitude, latitude, coal_sale_pic_code, 
      coal_sale_pic_code1, coal_sale_pic_code2, coal_sale_pic_code3, 
      business_license_pic_code, auth_state, verifier, 
      verify_time, verify_memo, remark, 
      coal_sales_id)
    values (#{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{realName,jdbcType=VARCHAR}, 
      #{coalSalesName,jdbcType=VARCHAR}, #{regionCode,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{coalSalePicCode,jdbcType=VARCHAR}, 
      #{coalSalePicCode1,jdbcType=VARCHAR}, #{coalSalePicCode2,jdbcType=VARCHAR}, #{coalSalePicCode3,jdbcType=VARCHAR}, 
      #{businessLicensePicCode,jdbcType=VARCHAR}, #{authState,jdbcType=INTEGER}, #{verifier,jdbcType=INTEGER}, 
      #{verifyTime,jdbcType=TIMESTAMP}, #{verifyMemo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{coalSalesId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sxhalo.lmb.domain.UserCoalSalesAuthRecord" >
    insert into user_coal_sales_auth_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="coalSalesName != null" >
        coal_sales_name,
      </if>
      <if test="regionCode != null" >
        region_code,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="coalSalePicCode != null" >
        coal_sale_pic_code,
      </if>
      <if test="coalSalePicCode1 != null" >
        coal_sale_pic_code1,
      </if>
      <if test="coalSalePicCode2 != null" >
        coal_sale_pic_code2,
      </if>
      <if test="coalSalePicCode3 != null" >
        coal_sale_pic_code3,
      </if>
      <if test="businessLicensePicCode != null" >
        business_license_pic_code,
      </if>
      <if test="authState != null" >
        auth_state,
      </if>
      <if test="verifier != null" >
        verifier,
      </if>
      <if test="verifyTime != null" >
        verify_time,
      </if>
      <if test="verifyMemo != null" >
        verify_memo,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="coalSalesId != null" >
        coal_sales_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="coalSalesName != null" >
        #{coalSalesName,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="coalSalePicCode != null" >
        #{coalSalePicCode,jdbcType=VARCHAR},
      </if>
      <if test="coalSalePicCode1 != null" >
        #{coalSalePicCode1,jdbcType=VARCHAR},
      </if>
      <if test="coalSalePicCode2 != null" >
        #{coalSalePicCode2,jdbcType=VARCHAR},
      </if>
      <if test="coalSalePicCode3 != null" >
        #{coalSalePicCode3,jdbcType=VARCHAR},
      </if>
      <if test="businessLicensePicCode != null" >
        #{businessLicensePicCode,jdbcType=VARCHAR},
      </if>
      <if test="authState != null" >
        #{authState,jdbcType=INTEGER},
      </if>
      <if test="verifier != null" >
        #{verifier,jdbcType=INTEGER},
      </if>
      <if test="verifyTime != null" >
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyMemo != null" >
        #{verifyMemo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="coalSalesId != null" >
        #{coalSalesId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxhalo.lmb.domain.UserCoalSalesAuthRecord" >
    update user_coal_sales_auth_record
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="coalSalesName != null" >
        coal_sales_name = #{coalSalesName,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        region_code = #{regionCode,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="coalSalePicCode != null" >
        coal_sale_pic_code = #{coalSalePicCode,jdbcType=VARCHAR},
      </if>
      <if test="coalSalePicCode1 != null" >
        coal_sale_pic_code1 = #{coalSalePicCode1,jdbcType=VARCHAR},
      </if>
      <if test="coalSalePicCode2 != null" >
        coal_sale_pic_code2 = #{coalSalePicCode2,jdbcType=VARCHAR},
      </if>
      <if test="coalSalePicCode3 != null" >
        coal_sale_pic_code3 = #{coalSalePicCode3,jdbcType=VARCHAR},
      </if>
      <if test="businessLicensePicCode != null" >
        business_license_pic_code = #{businessLicensePicCode,jdbcType=VARCHAR},
      </if>
      <if test="authState != null" >
        auth_state = #{authState,jdbcType=INTEGER},
      </if>
      <if test="verifier != null" >
        verifier = #{verifier,jdbcType=INTEGER},
      </if>
      <if test="verifyTime != null" >
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyMemo != null" >
        verify_memo = #{verifyMemo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="coalSalesId != null" >
        coal_sales_id = #{coalSalesId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxhalo.lmb.domain.UserCoalSalesAuthRecord" >
    update user_coal_sales_auth_record
    set real_name = #{realName,jdbcType=VARCHAR},
      coal_sales_name = #{coalSalesName,jdbcType=VARCHAR},
      region_code = #{regionCode,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      coal_sale_pic_code = #{coalSalePicCode,jdbcType=VARCHAR},
      coal_sale_pic_code1 = #{coalSalePicCode1,jdbcType=VARCHAR},
      coal_sale_pic_code2 = #{coalSalePicCode2,jdbcType=VARCHAR},
      coal_sale_pic_code3 = #{coalSalePicCode3,jdbcType=VARCHAR},
      business_license_pic_code = #{businessLicensePicCode,jdbcType=VARCHAR},
      auth_state = #{authState,jdbcType=INTEGER},
      verifier = #{verifier,jdbcType=INTEGER},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      verify_memo = #{verifyMemo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      coal_sales_id = #{coalSalesId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
      and create_time = #{createTime,jdbcType=TIMESTAMP}
  </update>
  
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from user_coal_sales_auth_record
    <if test="where != null and where != ''" >
      where ${where}
    </if>      
  </select>
  <select id="findWhereList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_coal_sales_auth_record
    <if test="where != null and where != ''" >
      where ${where}
    </if> 
    <if test="order != null and order != ''" >
      order by ${order}
    </if>     
  </select>
  <select id="findPagerList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_coal_sales_auth_record
    <if test="where != null and where != ''" >
      where ${where}
    </if> 
    <if test="order != null and order != ''" >
      order by ${order}
    </if>
    <if test="length != null and length != -1" >
      limit ${start},${length}
    </if>     
  </select>
</mapper>