<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxhalo.lmb.mapper.UserDemandMapper" >
  <resultMap id="BaseResultMap" type="com.sxhalo.lmb.domain.UserDemand" >
    <id column="demand_id" property="demandId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="coal_name" property="coalName" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="calorific_value" property="calorificValue" jdbcType="VARCHAR" />
    <result column="total_sulfur" property="totalSulfur" jdbcType="VARCHAR" />
    <result column="region_code" property="regionCode" jdbcType="INTEGER" />
    <result column="receipt_address" property="receiptAddress" jdbcType="VARCHAR" />
    <result column="to_longitude" property="toLongitude" jdbcType="DECIMAL" />
    <result column="to_latitude" property="toLatitude" jdbcType="DECIMAL" />
    <result column="illustrate" property="illustrate" jdbcType="VARCHAR" />
    <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="demand_state" property="demandState" jdbcType="VARCHAR" />
    <result column="hase_bond" property="haseBond" jdbcType="INTEGER" />
    <result column="delivery_start_time" property="deliveryStartTime" jdbcType="TIMESTAMP" />
    <result column="delivery_end_time" property="deliveryEndTime" jdbcType="TIMESTAMP" />
    <result column="max_delivery_num" property="maxDeliveryNum" jdbcType="INTEGER" />
    <result column="bond" property="bond" jdbcType="INTEGER" />
    <result column="bond_pay_state" property="bondPayState" jdbcType="INTEGER" />
    <result column="selected_delivery" property="selectedDelivery" jdbcType="INTEGER" />
    <result column="entrust" property="entrust" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    demand_id, user_id, category_id, coal_name, number, price, calorific_value, total_sulfur, 
    region_code, receipt_address, to_longitude, to_latitude, illustrate, contact_person, 
    contact_phone, demand_state, hase_bond, delivery_start_time, delivery_end_time, max_delivery_num, 
    bond, bond_pay_state, selected_delivery, entrust, create_time, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_demand
    where demand_id = #{demandId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_demand
    where demand_id = #{demandId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sxhalo.lmb.domain.UserDemand" >
    insert into user_demand (demand_id, user_id, category_id, 
      coal_name, number, price, 
      calorific_value, total_sulfur, region_code, 
      receipt_address, to_longitude, to_latitude, 
      illustrate, contact_person, contact_phone, 
      demand_state, hase_bond, delivery_start_time, 
      delivery_end_time, max_delivery_num, bond, 
      bond_pay_state, selected_delivery, entrust, 
      create_time, update_time, delete_flag
      )
    values (#{demandId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=VARCHAR}, 
      #{coalName,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, 
      #{calorificValue,jdbcType=VARCHAR}, #{totalSulfur,jdbcType=VARCHAR}, #{regionCode,jdbcType=INTEGER}, 
      #{receiptAddress,jdbcType=VARCHAR}, #{toLongitude,jdbcType=DECIMAL}, #{toLatitude,jdbcType=DECIMAL}, 
      #{illustrate,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{demandState,jdbcType=VARCHAR}, #{haseBond,jdbcType=INTEGER}, #{deliveryStartTime,jdbcType=TIMESTAMP}, 
      #{deliveryEndTime,jdbcType=TIMESTAMP}, #{maxDeliveryNum,jdbcType=INTEGER}, #{bond,jdbcType=INTEGER}, 
      #{bondPayState,jdbcType=INTEGER}, #{selectedDelivery,jdbcType=INTEGER}, #{entrust,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sxhalo.lmb.domain.UserDemand" >
    insert into user_demand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="demandId != null" >
        demand_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="coalName != null" >
        coal_name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="calorificValue != null" >
        calorific_value,
      </if>
      <if test="totalSulfur != null" >
        total_sulfur,
      </if>
      <if test="regionCode != null" >
        region_code,
      </if>
      <if test="receiptAddress != null" >
        receipt_address,
      </if>
      <if test="toLongitude != null" >
        to_longitude,
      </if>
      <if test="toLatitude != null" >
        to_latitude,
      </if>
      <if test="illustrate != null" >
        illustrate,
      </if>
      <if test="contactPerson != null" >
        contact_person,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="demandState != null" >
        demand_state,
      </if>
      <if test="haseBond != null" >
        hase_bond,
      </if>
      <if test="deliveryStartTime != null" >
        delivery_start_time,
      </if>
      <if test="deliveryEndTime != null" >
        delivery_end_time,
      </if>
      <if test="maxDeliveryNum != null" >
        max_delivery_num,
      </if>
      <if test="bond != null" >
        bond,
      </if>
      <if test="bondPayState != null" >
        bond_pay_state,
      </if>
      <if test="selectedDelivery != null" >
        selected_delivery,
      </if>
      <if test="entrust != null" >
        entrust,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="demandId != null" >
        #{demandId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="coalName != null" >
        #{coalName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="calorificValue != null" >
        #{calorificValue,jdbcType=VARCHAR},
      </if>
      <if test="totalSulfur != null" >
        #{totalSulfur,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=INTEGER},
      </if>
      <if test="receiptAddress != null" >
        #{receiptAddress,jdbcType=VARCHAR},
      </if>
      <if test="toLongitude != null" >
        #{toLongitude,jdbcType=DECIMAL},
      </if>
      <if test="toLatitude != null" >
        #{toLatitude,jdbcType=DECIMAL},
      </if>
      <if test="illustrate != null" >
        #{illustrate,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="demandState != null" >
        #{demandState,jdbcType=VARCHAR},
      </if>
      <if test="haseBond != null" >
        #{haseBond,jdbcType=INTEGER},
      </if>
      <if test="deliveryStartTime != null" >
        #{deliveryStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryEndTime != null" >
        #{deliveryEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxDeliveryNum != null" >
        #{maxDeliveryNum,jdbcType=INTEGER},
      </if>
      <if test="bond != null" >
        #{bond,jdbcType=INTEGER},
      </if>
      <if test="bondPayState != null" >
        #{bondPayState,jdbcType=INTEGER},
      </if>
      <if test="selectedDelivery != null" >
        #{selectedDelivery,jdbcType=INTEGER},
      </if>
      <if test="entrust != null" >
        #{entrust,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxhalo.lmb.domain.UserDemand" >
    update user_demand
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="coalName != null" >
        coal_name = #{coalName,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="calorificValue != null" >
        calorific_value = #{calorificValue,jdbcType=VARCHAR},
      </if>
      <if test="totalSulfur != null" >
        total_sulfur = #{totalSulfur,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        region_code = #{regionCode,jdbcType=INTEGER},
      </if>
      <if test="receiptAddress != null" >
        receipt_address = #{receiptAddress,jdbcType=VARCHAR},
      </if>
      <if test="toLongitude != null" >
        to_longitude = #{toLongitude,jdbcType=DECIMAL},
      </if>
      <if test="toLatitude != null" >
        to_latitude = #{toLatitude,jdbcType=DECIMAL},
      </if>
      <if test="illustrate != null" >
        illustrate = #{illustrate,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="demandState != null" >
        demand_state = #{demandState,jdbcType=VARCHAR},
      </if>
      <if test="haseBond != null" >
        hase_bond = #{haseBond,jdbcType=INTEGER},
      </if>
      <if test="deliveryStartTime != null" >
        delivery_start_time = #{deliveryStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryEndTime != null" >
        delivery_end_time = #{deliveryEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxDeliveryNum != null" >
        max_delivery_num = #{maxDeliveryNum,jdbcType=INTEGER},
      </if>
      <if test="bond != null" >
        bond = #{bond,jdbcType=INTEGER},
      </if>
      <if test="bondPayState != null" >
        bond_pay_state = #{bondPayState,jdbcType=INTEGER},
      </if>
      <if test="selectedDelivery != null" >
        selected_delivery = #{selectedDelivery,jdbcType=INTEGER},
      </if>
      <if test="entrust != null" >
        entrust = #{entrust,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where demand_id = #{demandId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxhalo.lmb.domain.UserDemand" >
    update user_demand
    set user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=VARCHAR},
      coal_name = #{coalName,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR},
      calorific_value = #{calorificValue,jdbcType=VARCHAR},
      total_sulfur = #{totalSulfur,jdbcType=VARCHAR},
      region_code = #{regionCode,jdbcType=INTEGER},
      receipt_address = #{receiptAddress,jdbcType=VARCHAR},
      to_longitude = #{toLongitude,jdbcType=DECIMAL},
      to_latitude = #{toLatitude,jdbcType=DECIMAL},
      illustrate = #{illustrate,jdbcType=VARCHAR},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      demand_state = #{demandState,jdbcType=VARCHAR},
      hase_bond = #{haseBond,jdbcType=INTEGER},
      delivery_start_time = #{deliveryStartTime,jdbcType=TIMESTAMP},
      delivery_end_time = #{deliveryEndTime,jdbcType=TIMESTAMP},
      max_delivery_num = #{maxDeliveryNum,jdbcType=INTEGER},
      bond = #{bond,jdbcType=INTEGER},
      bond_pay_state = #{bondPayState,jdbcType=INTEGER},
      selected_delivery = #{selectedDelivery,jdbcType=INTEGER},
      entrust = #{entrust,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where demand_id = #{demandId,jdbcType=VARCHAR}
  </update>
  
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from user_demand
    <if test="where != null and where != ''" >
      where ${where}
    </if>      
  </select>
  <select id="findWhereList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_demand
    <if test="where != null and where != ''" >
      where ${where}
    </if> 
    <if test="order != null and order != ''" >
      order by ${order}
    </if>     
  </select>
  <select id="findPagerList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_demand
    <if test="where != null and where != ''" >
      where ${where}
    </if> 
    <if test="order != null and order != ''" >
      order by ${order}
    </if>
    <if test="length != null and length != -1" >
      limit ${start},${length}
    </if>     
  </select>
</mapper>